
@{
    ViewData["Title"] = @lang.AssignerLesStages;
    int nombrePosteOccupe = 0;
}
<br />
<div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text row">
    <div class="col l7 s12">
        <i style="font-size:42px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.AssignerLesStages
        <hr />
    </div>
    <div class="col l4 push-l1 hide-on-med-and-down">
        <i style="font-size:36px;vertical-align:middle;" class="material-icons orange-text">error</i>
        @lang.EtudiantNonAssigner
        <hr />
    </div>
</div>

<div class="row">
    <div class="col l7 s12">
        <form name="formStage" action="@Url.Action("SaveAllStage", "AssignationStage")" method="post">
            <input type="hidden" value="" name="txtIDStage" id="txtIDStage" />
            <ul class="collapsible">
                @{
                    List<AssignationStageEtudiant> lesStages = ViewBag.lesStages;
                    for (int i = 0; i < lesStages.Count; i++)
                    {
                        List<ChoixEtudiant> lesChoixEtudiants = lesStages[i].LesChoixEtudiants;
                        <li>
                            <div class="collapsible-header " onclick="changeChevron(@lesStages[i].getIDStage())">
                                <p class="col s10">
                                    <b>@lesStages[i].getTitreStage()</b>
                                    <br />
                                    @lesStages[i].getTitreMilieuStage()
                                </p>
                                <p class="col s2 ">
                                    @lang.Postes : <span id="@Html.Raw("spanPostes" + lesStages[i].getIDStage())">@lesStages[i].LesChoixEtudiants.Where(s => s.ChoixFinal == true).Count()</span> / @lesStages[i].getNbPostesStage()
                                    <br />
                                    <span><i id="iconChevron+@lesStages[i].getIDStage()" style="vertical-align:middle;" class="material-icons">expand_more</i></span>
                                </p>
                            </div>
                            <div class="collapsible-body">
                                <input type="hidden" id="@Html.Raw("ListeEtudiant" + lesStages[i].getIDStage())" name="@Html.Raw("ListeEtudiant" + lesStages[i].getIDStage())" value="" />
                                <table id="@lesStages[i].getIDStage()" class="highlight responsive-table">
                                    <thead>
                                        <tr>
                                            <td>@lang.DetailEtudiant</td>
                                            <td>@lang.DA</td>
                                            <td>@lang.Prenom</td>
                                            <td>@lang.Nom</td>
                                            <td>@lang.NumeroChoix</td>
                                            <td>@lang.Choisir ?</td>
                                            <td>@lang.Superviseur</td>
                                        </tr>
                                    </thead>
                                    <tbody id="TBodyStage+@lesStages[i].getIDStage()">
                                        @{
                                            for (int j = 0; j < lesChoixEtudiants.Count; j++)
                                            {
                                                <tr id="choixEtudiant+@lesChoixEtudiants[j].Etudiant.IDEtudiant+@lesStages[i].getIDStage()" ondblclick="openModal('@lesChoixEtudiants[j].Etudiant.Prenom' + ' ' + '@lesChoixEtudiants[j].Etudiant.Nom', '@lesChoixEtudiants[j].Etudiant.NoDA',
                                            '@lesChoixEtudiants[j].Etudiant.Programme', '@lesChoixEtudiants[j].Etudiant.Courriel', '@lesChoixEtudiants[j].Etudiant.Photo')">
                                                    <td>
                                                        <a href="javascript:openModal('@lesChoixEtudiants[j].Etudiant.Prenom'+' '+'@lesChoixEtudiants[j].Etudiant.Nom','@lesChoixEtudiants[j].Etudiant.NoDA',
                                                       '@lesChoixEtudiants[j].Etudiant.Programme','@lesChoixEtudiants[j].Etudiant.Courriel','@lesChoixEtudiants[j].Etudiant.Photo')">
                                                            <i class="material-icons orange-text">remove_red_eye</i>
                                                        </a>
                                                    </td>
                                                    <td>@lesChoixEtudiants[j].Etudiant.NoDA</td>
                                                    <td>@lesChoixEtudiants[j].Etudiant.Prenom</td>
                                                    <td>@lesChoixEtudiants[j].Etudiant.Nom</td>
                                                    <td>@lesChoixEtudiants[j].NoChoix</td>
                                                    <td>
                                                        <p>
                                                            <label>
                                                                @Html.CheckBox("FinalChoice" + lesStages[i].getIDStage() + "-" + lesChoixEtudiants[j].Etudiant.IDEtudiant, lesChoixEtudiants[j].ChoixFinal, new { @class = "filled-in", @onchange = "getValueBox(" + @lesChoixEtudiants[j].Etudiant.IDEtudiant + ",this.checked," + lesStages[i].getIDStage() + ",false)" })
                                                                <span></span>
                                                            </label>
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <div id="test">
                                                            <select id="DropSuperviseur" name="@Html.Raw("DropSuperviseur"+ lesStages[i].getIDStage() + "-" + lesChoixEtudiants[j].Etudiant.IDEtudiant)" class="Validate" required>
                                                                <option value="0"></option>
                                                                @{
                                                                    List<PersonneContact> lesSuperviseur = ViewBag.lesPersonnesContact;
                                                                    for (int x = 0; x < lesSuperviseur.Count; x++)
                                                                    {
                                                                        <option value="@lesSuperviseur[x].IDPersonneContact">@lesSuperviseur[x].Prenom @lesSuperviseur[x].Nom</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        <tr id="toAdd+@lesStages[i].getIDStage()" class="hide "></tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select id="TxtSuperviseur" name="@Html.Raw("txtSuperviseur" + lesStages[i].getIDStage())" class="Validate" required>
                                            <option value="0"></option>
                                            @{
                                                List<PersonneContact> lesSuperviseurs = ViewBag.lesPersonnesContact;
                                                for (int j = 0; j < lesSuperviseurs.Count; j++)
                                                {
                                                    <option value="@lesSuperviseurs[j].IDPersonneContact" selected="@(lesSuperviseurs[j].IDPersonneContact==lesStages[i].Superviseur.IDPersonneContact)">@lesSuperviseurs[j].Prenom @lesSuperviseurs[j].Nom</option>
                                                }
                                            }
                                        </select>
                                        @Html.Label("TxtSuperviseur", @lang.Superviseur)
                                    </div>
                                    <div class="col center-align s12">
                                        <a class="btn light-blue white-text" href="javascript:SaveStage(@lesStages[i].getIDStage());showConfirmation()">@lang.Sauvegarder<i class="material-icons right hide-on-small-and-down">add</i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </form>
    </div>

    <div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text col s12 hide-on-large-only hide-on-extra-large-only">
        <i style="font-size:48px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.StagesDisponiblesDansCeMilieu
        <hr />
    </div>
    <div class="col l4 push-l1 s12">
        <table id="liste" class="highlight responsive-table">
            <thead>
                <tr>
                    <td>@lang.DetailEtudiant</td>
                    <td>@lang.DA</td>
                    <td>@lang.Prenom</td>
                    <td>@lang.Nom</td>
                    <td>@lang.Choisir ?</td>
                </tr>
            </thead>
            <tbody id="TBodyEtudiant">
                @{
                    List<Etudiant> lesEtudiants = ViewBag.lesEtudiants;
                    for (int i = 0; i < lesEtudiants.Count; i++)
                    {
                        <tr id="etu+@lesEtudiants[i].IDEtudiant" ondblclick="openModal('@lesEtudiants[i].Prenom' + ' ' + '@lesEtudiants[i].Nom', '@lesEtudiants[i].NoDA',
                                            '@lesEtudiants[i].Programme', '@lesEtudiants[i].Courriel', '@lesEtudiants[i].Photo')">
                            <td>
                                <a href="javascript:openModal('@lesEtudiants[i].Prenom' + ' ' + '@lesEtudiants[i].Nom', '@lesEtudiants[i].NoDA',
                                            '@lesEtudiants[i].Programme', '@lesEtudiants[i].Courriel', '@lesEtudiants[i].Photo')"><i class="material-icons orange-text">remove_red_eye</i></a>
                            </td>
                            <td>@lesEtudiants[i].NoDA</td>
                            <td>@lesEtudiants[i].Prenom</td>
                            <td>@lesEtudiants[i].Nom</td>
                            <td>
                                <a style="font-size:9px" class="btn green assignationStageVeto disabled" href="javascript:EnvoyerVersStageOuvert('@lesEtudiants[i].Nom',
                                   '@lesEtudiants[i].Prenom','@lesEtudiants[i].NoDA','@lesEtudiants[i].Programme','@lesEtudiants[i].Courriel','@lesEtudiants[i].Photo','@lesEtudiants[i].IDEtudiant');">@lang.Assigner</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col s12">
        <hr />
        <div class="row">
            <div class="col push-l1 l3 s4">
                <a class="waves-effect waves-light btn grey" href="@Url.Action("ListeStage", "Stage")">@lang.Retour</a>
            </div>
            <div class="col push-l1 l3 s4 hiddendiv">
                <a class="waves-effect waves-light btn grey" href="javascript:SaveAll();">@lang.Sauvegarder</a>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal ">
    <div class="modal-content">
        <h4 id="modalHeader">@lang.ErreurChargementEtudiant</h4>
        <p id="modalContent"></p>
        <img id="modalPicture" src="">
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>


@section Scripts {
    <script>
        var openedStage = -1;
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $('#spanPostes').html(@nombrePosteOccupe);
            $('.modal').modal()
            $('select').formSelect();
            HideAlreadySelectedStudent()
        });

        function HideAlreadySelectedStudent() {
            @{
                List<AssignationStageEtudiant> lesStages2 = ViewBag.lesStages;
                string idEtudiantToRemove = "";
                for (int i = 0; i < lesStages2.Count; i++)
                {
                    List<ChoixEtudiant> lesChoixEtudiants2 = lesStages2[i].LesChoixEtudiants;

                    for (int j = 0; j < lesChoixEtudiants2.Count;j++)
                    {
                        if (lesChoixEtudiants2[j].ChoixFinal && !idEtudiantToRemove.Contains(lesChoixEtudiants2[j].Etudiant.IDEtudiant + ","))
                        {
                        idEtudiantToRemove += lesChoixEtudiants2[j].Etudiant.IDEtudiant + ",";
                        }
                    }
                }
                if(idEtudiantToRemove.Length>1)
                {
                    idEtudiantToRemove = idEtudiantToRemove.Substring(0, idEtudiantToRemove.Length - 1);
                }
            }
            var IdArray = '@idEtudiantToRemove'.split(',')
            for (var i = 0; i < IdArray.length; i++) {
                hideEtudiant(IdArray[i]);
            }
        }

        function EnvoyerVersStageOuvert(nom, prenom, da, programme, courriel, photo, idEtu) {
            if (document.getElementById("choixEtudiant+" + idEtu + "+" + openedStage) == null) {
                var RowEtudiantString = "<td> <a href=\"javascript:openModal('" + prenom + "' + ' ' + '" + nom + "', '" + da + "','" + programme + "', '" + courriel + "', '" + photo + "')\"><i class='material-icons orange-text'>remove_red_eye</i></a></td>";
                RowEtudiantString += "<td>" + da + "</td>";
                RowEtudiantString += "<td>" + prenom + "</td>";
                RowEtudiantString += "<td>" + nom + "</td>";
                RowEtudiantString += "<td>Veto</td>";
                RowEtudiantString += "<td><p><label><input id='FinalChoice" + openedStage + "-" + idEtu + "' name='FinalChoice" + openedStage + "-" + idEtu + "' type='checkbox' checked='true' class='filled-in' onchange='getValueBox(" + idEtu + ",this.checked," + openedStage + ",true)'><span></span></label></p></td>";
                RowEtudiantString += "<td><div><select id='DropSuperviseur" + openedStage + "-" + idEtu + "' name='DropSuperviseur" + openedStage + "-" + idEtu + "' class='Validate' required> <option value='0'></option>";
                RowEtudiantString += "@{ List<PersonneContact> lesSuperviseur = ViewBag.lesPersonnesContact; for (int x = 0; x < lesSuperviseur.Count; x++) { <option value = '@lesSuperviseur[x].IDPersonneContact' >@lesSuperviseur[x].Prenom @lesSuperviseur[x].Nom</option>} }";
                RowEtudiantString += "</select></div></td>";
                document.getElementById("toAdd+" + openedStage).outerHTML = "<tr id='Veto" + idEtu + "' ondblclick=\"openModal('" + prenom + "' + ' ' + '" + nom + "', '" + da + "','" + programme + "', '" + courriel + "', '" + photo + "')\">" + RowEtudiantString + "</tr><tr id='toAdd+" + openedStage + "' class='hide'></tr>";
                $('#DropSuperviseur' + openedStage + '-' + idEtu).formSelect();
                AddPoste(openedStage);
                hideEtudiant(idEtu);
            }
            else {
                M.toast({ html: "Le stage est déjà dans les choix de l'étudiant", displayLength: 1500, classes: 'rounded' })
            }
        }

        function hideEtudiant(idEtudiant) {
            var row = document.getElementById('etu+' + idEtudiant).closest('tr');
            var arr = row.className.split(" ");
            if (arr.indexOf("hide") == -1) {
                row.className += " " + "hide";
            }
        }

        function showEtudiant(idEtudiant) {
            var row = document.getElementById('etu+' + idEtudiant).closest('tr');
            row.className = row.className.replace(/\bhide\b/g, "");

        }

        function showConfirmation() {
            M.toast({ html: '@lang.EnregistreSucces', displayLength: 1500, classes: 'rounded' })
        }

        function changeChevron(idStage) {
            if (document.getElementById("iconChevron+"+idStage).innerHTML == "expand_more") {
                document.getElementById("iconChevron+" + idStage).innerHTML = "expand_less"
            } else {
                document.getElementById("iconChevron+" + idStage).innerHTML = "expand_more"
            }
            if (idStage == openedStage) {
                openedStage = -1;
                var lesBoutons = document.getElementsByClassName("assignationStageVeto");
                for (var i = 0; i < lesBoutons.length; i++) {
                    var arr = lesBoutons[i].className.split(" ");
                    if (arr.indexOf("disabled") == -1) {
                        lesBoutons[i].className += " " + "disabled";
                    }
                }

            } else {
                openedStage = idStage;
                var lesBoutons = document.getElementsByClassName("assignationStageVeto");
                for (var i = 0; i < lesBoutons.length; i++) {
                    lesBoutons[i].className = lesBoutons[i].className.replace(/\b disabled\b/g, "");
                }
            }

        }

        function openModal(nomPrenom,da,programme,courriel,photo) {
            var instance = M.Modal.getInstance(document.getElementById("modal1"));
            if (courriel == "") {courriel="@lang.NoEmail"}
            document.getElementById("modalHeader").innerText = nomPrenom;
            document.getElementById("modalContent").innerHTML = "@lang.DA : " + da + "<br/> @lang.Programme : " + programme + "<br/> @lang.Courriel : " + courriel;
            if (photo != null && photo != "") {
            document.getElementById("modalContent").innerHTML += "<br/> @lang.Photo <br/>";
                $('#modalPicture').attr('src', `data:image/jpeg;base64,${photo}`);  // <----- Changer le data type pour image/{Le type de photo sauvegarder} test avec -> R0lGODlhDAAMAKIFAF5LAP/zxAAAANyuAP/gaP///wAAAAAAACH5BAEAAAUALAAAAAAMAAwAAAMlWLPcGjDKFYi9lxKBOaGcF35DhWHamZUW0K4mAbiwWtuf0uxFAgA7
            }
            instance.open();
        }
       // $("#DropSuperviseur").val('2');
        $('#TxtSuperviseur').on('change', function () {
            //$("#DropSuperviseur").val(this.value).change();
            //alert(this.value);
            $("#DropSuperviseur").val(this.value);
            alert(this.selectedIndex);
            //selectedDropdownElement('#DropSuperviseur', this.value, this.selectedIndex);
        });

        function selectedDropdownElement(id, valueToSelect, index) {
            let element = document.getElementById(id);
            element.value = valueToSelect;
            element.selectedIndex = index;
        }

        function getValueBox(idEtudiant, ischecked, stageId, VetoSender) {
            if (ischecked) {
                AddPoste(stageId);
                hideEtudiant(idEtudiant);
            }
            else {
                RemovePoste(stageId);
                showEtudiant(idEtudiant);
                if (document.getElementById('Veto' + idEtudiant) != null && VetoSender) { //Détruit la ligne du veto si c'est elle qui ce fait décoché
                    document.getElementById('Veto' + idEtudiant).outerHTML = "";
                }
            }
        }

        function SaveStage(stageid) {
            //$.post('@Url.Action("SaveOneStage", "AssignationStage")', { txtIDStage: stageid, txtEtudiants: $('#ListeEtudiant' + stageid).val() }, function () { });
            $('#txtIDStage').val(stageid);
            //$("#formStage").ajaxSubmit({ url: '@Url.Action("SaveOneStage", "AssignationStage")', type: 'post' });
            //$.post('@Url.Action("SaveOneStage", "AssignationStage")', $("#formStage").serialize());


        }

        function SaveAll() {
            document.formStage.submit();
        }

        function AddPoste(stageid) {
            $('#spanPostes' + stageid).html(parseInt($('#spanPostes' + stageid).html()) + 1);
        }

        function RemovePoste(stageid) {
            $('#spanPostes' + stageid).html(parseInt($('#spanPostes' + stageid).html()) - 1);
        }

    </script>
}
<script type="text/javascript">

</script>

<style>

    .ui-state-active {
        background: none;
        background-color: orange;
        color: white;
    }

    [type="checkbox"].filled-in:checked + span:not(.lever):after {
        background-color: orange;
        border: 2px solid grey;
    }

    li.active div.collapsible-header {
        background-color: #ff9800;
        color: white;
    }
</style>
