
@{
    ViewData["Title"] = @lang.AssignerLesStages;
    int nombrePosteOccupe = 0;
}
<br />
<div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text row">
    <div class="col l7 s12">
        <i style="font-size:36px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.AssignerLesStages
        <hr />
    </div>
    <div class="col l4 push-l1 hide-on-med-and-down">
        <i style="font-size:36px;vertical-align:middle;" class="material-icons orange-text">error</i>
        @lang.EtudiantNonAssigner
        <hr />
    </div>
</div>

<div class="row">
    <div class="col l7 s12">
        <form name="formStage" action="@Url.Action("SaveOneStage", "AssignationStage")" method="post">
            <input type="hidden" value="" name="txtIDStage" id="txtIDStage" />
            <ul class="collapsible">
                @{
                    List<AssignationStageEtudiant> lesStages = ViewBag.lesStages;
                    for (int i = 0; i < lesStages.Count; i++)
                    {
                        <li>
                            <div class="collapsible-header">
                                <p class="col s10">
                                    <b>@lesStages[i].getTitreStage()</b>
                                    <br />
                                    @lesStages[i].getTitreMilieuStage()
                                </p>
                                <p class="col s2 ">@lang.Postes : <span id="spanPostes"></span> / @lesStages[i].getNbPostesStage()</p>
                            </div>
                            <div class="collapsible-body">
                                <input type="hidden" id="@Html.Raw("ListeEtudiant" + lesStages[i].getIDStage())" name="@Html.Raw("ListeEtudiant" + lesStages[i].getIDStage())" value="" />
                                <table id="@lesStages[i].getIDStage()" class="highlight responsive-table">
                                    <thead>
                                        <tr>
                                            <td>@lang.DetailEtudiant</td>
                                            <td>@lang.DA</td>
                                            <td>@lang.Prenom</td>
                                            <td>@lang.Nom</td>
                                            <td>@lang.NumeroChoix</td>
                                            <td>@lang.Choisir ?</td>
                                            <td>@lang.Superviseur</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            List<ChoixEtudiant> lesChoixEtudiants = lesStages[i].LesChoixEtudiants;
                                            for (int j = 0; j < lesChoixEtudiants.Count; j++)
                                            {
                                                <tr ondblclick="openModal('@lesChoixEtudiants[j].Etudiant.Prenom' + ' ' + '@lesChoixEtudiants[j].Etudiant.Nom', '@lesChoixEtudiants[j].Etudiant.NoDA',
                                            '@lesChoixEtudiants[j].Etudiant.Programme', '@lesChoixEtudiants[j].Etudiant.Courriel', '@lesChoixEtudiants[j].Etudiant.Photo')">
                                                    <td>
                                                        <a href="javascript:openModal('@lesChoixEtudiants[j].Etudiant.Prenom'+' '+'@lesChoixEtudiants[j].Etudiant.Nom','@lesChoixEtudiants[j].Etudiant.NoDA',
                                                       '@lesChoixEtudiants[j].Etudiant.Programme','@lesChoixEtudiants[j].Etudiant.Courriel','@lesChoixEtudiants[j].Etudiant.Photo')">
                                                            <i class="material-icons orange-text">remove_red_eye</i>
                                                        </a>
                                                    </td>
                                                    <td>@lesChoixEtudiants[j].Etudiant.NoDA</td>
                                                    <td>@lesChoixEtudiants[j].Etudiant.Prenom</td>
                                                    <td>@lesChoixEtudiants[j].Etudiant.Nom</td>
                                                    <td>@lesChoixEtudiants[j].NoChoix</td>
                                                    <td>
                                                        <p>
                                                            <label>
                                                                @Html.CheckBox("FinalChoice", lesChoixEtudiants[j].ChoixFinal, new { @onchange = "getValueBox(" + @lesChoixEtudiants[j].Etudiant.IDEtudiant + ",this.checked," + lesStages[i].getIDStage() + ")" })
                                                                @{ if (lesChoixEtudiants[j].ChoixFinal)
                                                                    {
                                                                        nombrePosteOccupe++;
                                                                    }
                                                                }
                                                                <span></span>
                                                            </label>
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <div id="test">
                                                            <select id="DropSuperviseur" name="@Html.Raw("DropSuperviseur" + lesChoixEtudiants[j].Etudiant.IDEtudiant)" class="Validate" required>
                                                                <option value="0"></option>
                                                                @{
                                                                    List<PersonneContact> lesSuperviseur = ViewBag.lesPersonnesContact;
                                                                    for (int x = 0; x < lesSuperviseur.Count; x++)
                                                                    {
                                                                        <option value="@lesSuperviseur[x].IDPersonneContact">@lesSuperviseur[x].Prenom @lesSuperviseur[x].Nom</option>

                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select id="TxtSuperviseur" name="@Html.Raw("txtSuperviseur" + lesStages[i].getIDStage())" class="Validate" required>
                                            <option value="0"></option>
                                            @{
                                                List<PersonneContact> lesSuperviseurs = ViewBag.lesPersonnesContact;
                                                for (int j = 0; j < lesSuperviseurs.Count; j++)
                                                {
                                                    <option value="@lesSuperviseurs[j].IDPersonneContact" selected="@(lesSuperviseurs[j].IDPersonneContact==lesStages[i].Superviseur.IDPersonneContact)">@lesSuperviseurs[j].Prenom @lesSuperviseurs[j].Nom</option>
                                                }
                                            }
                                        </select>
                                        @Html.Label("TxtSuperviseur", @lang.Superviseur)
                                    </div>
                                    <div class="col center-align s12">
                                        <a class="btn light-blue white-text" href="javascript:SaveStage(@lesStages[i].getIDStage())">@lang.Sauvegarder<i class="material-icons right hide-on-small-and-down">add</i></a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    }
                }
            </ul>
        </form>
    </div>

    <div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text col s12 hide-on-large-only hide-on-extra-large-only">
        <i style="font-size:48px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.StagesDisponiblesDansCeMilieu
        <hr />
    </div>
    <div class="col l4 push-l1 s12">
        <table id="liste" class="highlight responsive-table">
            <thead>
                <tr>
                    <td>@lang.DetailEtudiant</td>
                    <td>@lang.DA</td>
                    <td>@lang.Prenom</td>
                    <td>@lang.Nom</td>
                    <td>@lang.Choisir ?</td>
                </tr>
            </thead>
            <tbody id="TBodyEtudiant">
                @{
                    List<Etudiant> lesEtudiants = ViewBag.lesEtudiants;
                    for (int i = 0; i < lesEtudiants.Count; i++)
                    {
                        <tr id="@lesEtudiants[i].IDEtudiant" ondblclick="openModal('@lesEtudiants[i].Prenom' + ' ' + '@lesEtudiants[i].Nom', '@lesEtudiants[i].NoDA',
                                            '@lesEtudiants[i].Programme', '@lesEtudiants[i].Courriel', '@lesEtudiants[i].Photo')">
                            <td>
                                <a href="javascript:openModal('@lesEtudiants[i].Prenom' + ' ' + '@lesEtudiants[i].Nom', '@lesEtudiants[i].NoDA',
                                            '@lesEtudiants[i].Programme', '@lesEtudiants[i].Courriel', '@lesEtudiants[i].Photo')"><i class="material-icons orange-text">remove_red_eye</i></a>
                            </td>
                            <td>@lesEtudiants[i].NoDA</td>
                            <td>@lesEtudiants[i].Prenom</td>
                            <td>@lesEtudiants[i].Nom</td>
                            <td><!--Button assign--></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col s12">
        <hr />
        <div class="row">
            <div class="col push-l1 l3 s4">
                <a class="waves-effect waves-light btn grey" href="@Url.Action("ListeMilieuStage", "MilieuStage")">@lang.Retour</a>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal ">
    <div class="modal-content">
        <h4 id="modalHeader">@lang.ErreurChargementEtudiant</h4>
        <p id="modalContent"></p>
        <img id="modalPicture" src="">
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $('#spanPostes').html(@nombrePosteOccupe);
            $('.modal').modal()
            $('select').formSelect();
        });
        function openModal(nomPrenom,da,programme,courriel,photo) {
            var instance = M.Modal.getInstance(document.getElementById("modal1"));
            if (courriel == "") {courriel="@lang.NoEmail"}
            document.getElementById("modalHeader").innerText = nomPrenom;
            document.getElementById("modalContent").innerHTML = "@lang.DA : " + da + "<br/> @lang.Programme : " + programme + "<br/> @lang.Courriel : " + courriel;
            if (photo != null && photo != "") {
            document.getElementById("modalContent").innerHTML += "<br/> @lang.Photo <br/>";
                $('#modalPicture').attr('src', `data:image/jpeg;base64,${photo}`);  // <----- Changer le data type pour image/{Le type de photo sauvegarder} test avec -> R0lGODlhDAAMAKIFAF5LAP/zxAAAANyuAP/gaP///wAAAAAAACH5BAEAAAUALAAAAAAMAAwAAAMlWLPcGjDKFYi9lxKBOaGcF35DhWHamZUW0K4mAbiwWtuf0uxFAgA7
            }
            instance.open();
        }
       // $("#DropSuperviseur").val('2');
        $('#TxtSuperviseur').on('change', function () {
            //$("#DropSuperviseur").val(this.value).change();
            //alert(this.value);
            $("#DropSuperviseur").val(this.value);
            alert(this.selectedIndex);
            //selectedDropdownElement('#DropSuperviseur', this.value, this.selectedIndex);
        });

        function selectedDropdownElement(id, valueToSelect, index) {
            let element = document.getElementById(id);
            element.value = valueToSelect;
            element.selectedIndex = index;
        }

        function getValueBox(value, ischecked, stageId) {
            if (ischecked) {
                $('#ListeEtudiant' + stageId).val($('#ListeEtudiant' + stageId).val() + value + ',');
            }
            else {
                if ($('#ListeEtudiant' + stageId).val().replace(',' + value + ',', ',') != $('#ListeEtudiant' + stageId).val()) {
                    $('#ListeEtudiant' + stageId).val($('#ListeEtudiant' + stageId).val().replace(',' + value + ',', ','));
                } else {
                    $('#ListeEtudiant' + stageId).val($('#ListeEtudiant' + stageId).val().replace(value + ',', ''));
                }
            }
        }

        function SaveStage(stageid) {
            $('#txtIDStage').val(stageid);
            document.formStage.submit();
        }

    </script>
}
<script type="text/javascript">

</script>
