
@{
    ViewData["Title"] = @lang.AssignerLesStages;
    int nombrePosteOccupe = 0;
}
<br />
<div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text row">
    <div class="col l7 s12">
        <i style="font-size:42px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.AssignerLesStages
        <hr />
    </div>
    <div class="col l4 push-l1 hide-on-med-and-down">
        <i style="font-size:36px;vertical-align:middle;" class="material-icons orange-text">error</i>
        @lang.EtudiantNonAssigner
        <hr />
    </div>
</div>

<div class="row">
    <div class="col l7 s12">
        <form name="formStage" action="@Url.Action("SaveAllStage", "AssignationStage")" method="post">
            <input type="hidden" value="" name="txtIDStage" id="txtIDStage" />
            <ul class="collapsible">
                @{
                    List<AssignationStageEtudiant> lesStages = ViewBag.lesStages;
                    for (int i = 0; i < lesStages.Count; i++)
                    {
                        List<ChoixEtudiant> lesChoixEtudiants = lesStages[i].LesChoixEtudiants;
                        <li>
                            <div class="collapsible-header " onclick="changeChevron(@lesStages[i].getIDStage())">
                                <p class="col s10">
                                    <b>@lesStages[i].getTitreStage()</b>
                                    <br />
                                    @lesStages[i].getTitreMilieuStage()
                                </p>
                                <p class="col s2 ">
                                    @lang.Postes : <span id="@Html.Raw("spanPostes" + lesStages[i].getIDStage())">@lesStages[i].LesChoixEtudiants.Where(s => s.ChoixFinal == true).Count()</span> / @lesStages[i].getNbPostesStage()
                                    <br />
                                    <span><i id="iconChevron+@lesStages[i].getIDStage()" style="vertical-align:middle;" class="material-icons">expand_more</i></span>
                                </p>
                            </div>
                            <div class="collapsible-body">
                                <input type="hidden" id="@Html.Raw("ListeEtudiant" + lesStages[i].getIDStage())" name="@Html.Raw("ListeEtudiant" + lesStages[i].getIDStage())" value="" />
                                <table id="@lesStages[i].getIDStage()" class="highlight responsive-table">
                                    <thead>
                                        <tr>
                                            <td><b>@lang.DetailEtudiant</b></td>
                                            <td><b>@lang.DA</b></td>
                                            <td><b>@lang.Prenom</b></td>
                                            <td><b>@lang.Nom</b></td>
                                            <td><b>@lang.NumeroChoix</b></td>
                                            <td><b>@lang.Choisir ?</b></td>
                                            <td><b>@lang.Superviseur</b></td>
                                        </tr>
                                    </thead>
                                    <tbody id="TBodyStage+@lesStages[i].getIDStage()">
                                        @{
                                            for (int j = 0; j < lesChoixEtudiants.Count; j++)
                                            {
                                                <tr id="choixEtudiant+@lesChoixEtudiants[j].Etudiant.IDEtudiant+@lesStages[i].getIDStage()">
                                                    <td>
                                                        <input type="hidden" id="@Html.Raw("line" + lesStages[i].getIDStage() + "-" + j)" value="@lesChoixEtudiants[j].IDStageEtudiant" />
                                                        <a href="javascript:openModal('@lesChoixEtudiants[j].Etudiant.Prenom'+' '+'@lesChoixEtudiants[j].Etudiant.Nom','@lesChoixEtudiants[j].Etudiant.NoDA',
                                                       '@lesChoixEtudiants[j].Etudiant.Programme','@lesChoixEtudiants[j].Etudiant.Courriel','@lesChoixEtudiants[j].Etudiant.Photo')">
                                                            <i class="material-icons orange-text">remove_red_eye</i>
                                                        </a>
                                                    </td>
                                                    <td onclick="openModal('@lesChoixEtudiants[j].Etudiant.Prenom' + ' ' + '@lesChoixEtudiants[j].Etudiant.Nom', '@lesChoixEtudiants[j].Etudiant.NoDA','@lesChoixEtudiants[j].Etudiant.Programme', '@lesChoixEtudiants[j].Etudiant.Courriel', '@lesChoixEtudiants[j].Etudiant.Photo')">
                                                        @lesChoixEtudiants[j].Etudiant.NoDA
                                                    </td>
                                                    <td onclick="openModal('@lesChoixEtudiants[j].Etudiant.Prenom' + ' ' + '@lesChoixEtudiants[j].Etudiant.Nom', '@lesChoixEtudiants[j].Etudiant.NoDA','@lesChoixEtudiants[j].Etudiant.Programme', '@lesChoixEtudiants[j].Etudiant.Courriel', '@lesChoixEtudiants[j].Etudiant.Photo')">
                                                        @lesChoixEtudiants[j].Etudiant.Prenom
                                                    </td>
                                                    <td onclick="openModal('@lesChoixEtudiants[j].Etudiant.Prenom' + ' ' + '@lesChoixEtudiants[j].Etudiant.Nom', '@lesChoixEtudiants[j].Etudiant.NoDA','@lesChoixEtudiants[j].Etudiant.Programme', '@lesChoixEtudiants[j].Etudiant.Courriel', '@lesChoixEtudiants[j].Etudiant.Photo')">
                                                        @lesChoixEtudiants[j].Etudiant.Nom
                                                    </td>
                                                    <td onclick="openModal('@lesChoixEtudiants[j].Etudiant.Prenom' + ' ' + '@lesChoixEtudiants[j].Etudiant.Nom', '@lesChoixEtudiants[j].Etudiant.NoDA','@lesChoixEtudiants[j].Etudiant.Programme', '@lesChoixEtudiants[j].Etudiant.Courriel', '@lesChoixEtudiants[j].Etudiant.Photo')">
                                                        @lesChoixEtudiants[j].NoChoix
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <label>
                                                                @Html.CheckBox("FinalChoice" + lesChoixEtudiants[j].IDStageEtudiant, lesChoixEtudiants[j].ChoixFinal, new { @class = "filled-in", @onchange = "getValueBox(" + @lesChoixEtudiants[j].Etudiant.IDEtudiant + ",this.checked," + lesStages[i].getIDStage() + ",false)" })
                                                                <span></span>
                                                            </label>
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <div id="test">
                                                            <select id="@Html.Raw("DropSuperviseur"+ lesChoixEtudiants[j].IDStageEtudiant)" name="@Html.Raw("DropSuperviseur"+ lesChoixEtudiants[j].IDStageEtudiant)" class="Validate" required>
                                                                <option value="0"></option>
                                                                @{
                                                                    List<Superviseur> lesSuperviseur = ViewBag.lesPersonnesContact;
                                                                    for (int x = 0; x < lesSuperviseur.Count; x++)
                                                                    {
                                                                        <option value="@lesSuperviseur[x].IDSuperviseur" selected="@(lesSuperviseur[x].IDSuperviseur==lesChoixEtudiants[j].IDSuperviseur)">@lesSuperviseur[x].Prenom @lesSuperviseur[x].Nom</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        <tr id="toAdd+@lesStages[i].getIDStage()" class="hide "></tr>
                                    </tbody>
                                </table>
                                <div class="row" style="padding-top:10px;">
                                    <div class="col center-align s12">
                                        <a class="btn light-blue white-text" href="javascript:SaveStage(@lesStages[i].getIDStage());showConfirmation()">@lang.Sauvegarder<i class="material-icons right hide-on-small-and-down">save</i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </form>
    </div>

    <div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text col s12 hide-on-large-only hide-on-extra-large-only">
        <i style="font-size:48px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.StagesDisponiblesDansCeMilieu
        <hr />
    </div>
    @{
        List<Etudiant> lesEtudiants = ViewBag.lesEtudiants;
    }
    <div class="col l4 push-l1 s12">
        <span class="right light-blue-text">@lang.EtudiantsRestants : <span id="EtudiantRestant"> @lesEtudiants.Count() </span> / @lesEtudiants.Count()</span>
        <table id="liste" class="highlight responsive-table">
            <thead>
                <tr>
                    <td><b>@lang.DetailEtudiant</b></td>
                    <td><b>@lang.DA</b></td>
                    <td><b>@lang.Prenom</b></td>
                    <td><b>@lang.Nom</b></td>
                    <td><b>@lang.Choisir ?</b></td>
                </tr>
            </thead>
            <tbody id="TBodyEtudiant">
                @{
                    for (int i = 0; i < lesEtudiants.Count; i++)
                    {
                        <tr id="etu+@lesEtudiants[i].IDEtudiant">
                            <td>
                                <a href="javascript:openModal('@lesEtudiants[i].Prenom' + ' ' + '@lesEtudiants[i].Nom', '@lesEtudiants[i].NoDA',
                                            '@lesEtudiants[i].Programme', '@lesEtudiants[i].Courriel', '@lesEtudiants[i].Photo')"><i class="material-icons orange-text">remove_red_eye</i></a>
                            </td>
                            <td onclick="openModal('@lesEtudiants[i].Prenom' + ' ' + '@lesEtudiants[i].Nom', '@lesEtudiants[i].NoDA','@lesEtudiants[i].Programme', '@lesEtudiants[i].Courriel', '@lesEtudiants[i].Photo')">@lesEtudiants[i].NoDA</td>
                            <td onclick="openModal('@lesEtudiants[i].Prenom' + ' ' + '@lesEtudiants[i].Nom', '@lesEtudiants[i].NoDA','@lesEtudiants[i].Programme', '@lesEtudiants[i].Courriel', '@lesEtudiants[i].Photo')">@lesEtudiants[i].Prenom</td>
                            <td onclick="openModal('@lesEtudiants[i].Prenom' + ' ' + '@lesEtudiants[i].Nom', '@lesEtudiants[i].NoDA','@lesEtudiants[i].Programme', '@lesEtudiants[i].Courriel', '@lesEtudiants[i].Photo')">@lesEtudiants[i].Nom</td>
                            <td>
                                <a style="font-size:9px" class="btn green assignationStageVeto disabled" href="javascript:EnvoyerVersStageOuvert('@lesEtudiants[i].Nom',
                                   '@lesEtudiants[i].Prenom','@lesEtudiants[i].NoDA','@lesEtudiants[i].Programme','@lesEtudiants[i].Courriel','@lesEtudiants[i].Photo','@lesEtudiants[i].IDEtudiant');">@lang.Assigner</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col s12">
        <hr />
        <div class="row" style="padding-top:5px;">
            <div class="col push-l1 l2 s2">
                <a class="waves-effect waves-light btn grey" href="@Url.Action("ListeStage", "Stage")">@lang.Retour</a>
            </div>
            <div class="col push-l7 l2 s3 push-s7">
                <a class="waves-effect waves-light btn green" href="javascript:SaveAll();">@lang.Sauvegarder<i class="material-icons right hide-on-small-and-down">save</i></a>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal ">
    <div class="modal-content">
        <h4 id="modalHeader">@lang.ErreurChargementEtudiant</h4>
        <p id="modalContent"></p>
        <img id="modalPicture" src="">
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>


@section Scripts {
    <script>
        var openedStage = -1;
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $('#spanPostes').html(@nombrePosteOccupe);
            $('.modal').modal()
            $('select').formSelect();
            HideAlreadySelectedStudent()
        });

        function HideAlreadySelectedStudent() {
            @{
                List<AssignationStageEtudiant> lesStages2 = ViewBag.lesStages;
                string idEtudiantToRemove = "";
                string idStageEtudiantToRemove = "";
                for (int i = 0; i < lesStages2.Count; i++)
                {
                    List<ChoixEtudiant> lesChoixEtudiants2 = lesStages2[i].LesChoixEtudiants;

                    for (int j = 0; j < lesChoixEtudiants2.Count; j++)
                    {
                        if (lesChoixEtudiants2[j].ChoixFinal && !idEtudiantToRemove.Contains(lesChoixEtudiants2[j].Etudiant.IDEtudiant + ","))
                        {
                            idEtudiantToRemove += lesChoixEtudiants2[j].Etudiant.IDEtudiant + ",";
                            idStageEtudiantToRemove += lesStages2[i].getIDStage() + ",";
                        }
                    }
                }
                if (idEtudiantToRemove.Length > 1)
                {
                    idEtudiantToRemove = idEtudiantToRemove.Substring(0, idEtudiantToRemove.Length - 1);
                }
                if (idStageEtudiantToRemove.Length > 1)
                {
                    idStageEtudiantToRemove = idStageEtudiantToRemove.Substring(0, idStageEtudiantToRemove.Length - 1);
                }
            }
            var IdEtudiantArray = '@idEtudiantToRemove'.split(',');
            var IdStageArray = '@idStageEtudiantToRemove'.split(',');
            for (var i = 0; i < IdEtudiantArray.length; i++) {
                hideEtudiant(IdEtudiantArray[i]);
                AdjustOtherChoiceRow(IdEtudiantArray[i], IdStageArray[i], true);
            }
            $('#EtudiantRestant').html(parseInt($('#EtudiantRestant').html()) - IdEtudiantArray.length);
        }

        function EnvoyerVersStageOuvert(nom, prenom, da, programme, courriel, photo, idEtu) {
            if (document.getElementById("choixEtudiant+" + idEtu + "+" + openedStage) == null) {
                var RowEtudiantString = "<td>";
                RowEtudiantString += '<input type="hidden" id="lineV' + openedStage + '" value="' + openedStage + '-' + idEtu + '" />';
                RowEtudiantString += '<input type="hidden" id="idStage' + openedStage + "-" + idEtu + '" value="' + openedStage + '" />';
                RowEtudiantString += '<input type="hidden" id="idEtudiant' + openedStage + "-" + idEtu + '" value="' + idEtu + '" />';
                RowEtudiantString += " <a href=\"javascript:openModal('" + prenom + "' + ' ' + '" + nom + "', '" + da + "','" + programme + "', '" + courriel + "', '" + photo + "')\"><i class='material-icons orange-text'>remove_red_eye</i></a></td>";
                RowEtudiantString += "<td onclick=\"openModal('" + prenom + "' + ' ' + '" + nom + "', '" + da + "','" + programme + "', '" + courriel + "', '" + photo + "')\">" + da + "</td>";
                RowEtudiantString += "<td onclick=\"openModal('" + prenom + "' + ' ' + '" + nom + "', '" + da + "','" + programme + "', '" + courriel + "', '" + photo + "')\">" + prenom + "</td>";
                RowEtudiantString += "<td onclick=\"openModal('" + prenom + "' + ' ' + '" + nom + "', '" + da + "','" + programme + "', '" + courriel + "', '" + photo + "')\">" + nom + "</td>";
                RowEtudiantString += "<td onclick=\"openModal('" + prenom + "' + ' ' + '" + nom + "', '" + da + "','" + programme + "', '" + courriel + "', '" + photo + "')\">Veto</td>";
                RowEtudiantString += "<td><p><label><input id='FinalChoice" + openedStage + "-" + idEtu + "' name='FinalChoice" + openedStage + "-" + idEtu + "' type='checkbox' checked='true' class='filled-in' onchange='getValueBox(" + idEtu + ",this.checked," + openedStage + ",true)'><span></span></label></p></td>";
                RowEtudiantString += "<td><div><select id='DropSuperviseur" + openedStage + "-" + idEtu + "' name='DropSuperviseur" + openedStage + "-" + idEtu + "' class='Validate' required> <option value='0'></option>";
                RowEtudiantString += "@{ List<Superviseur> lesSuperviseur = ViewBag.lesPersonnesContact; for (int x = 0; x < lesSuperviseur.Count; x++) { <option value = '@lesSuperviseur[x].IDSuperviseur' >@lesSuperviseur[x].Prenom @lesSuperviseur[x].Nom</option>} }";
                RowEtudiantString += "</select></div></td>";
                document.getElementById("toAdd+" + openedStage).outerHTML = "<tr id='Veto" + idEtu + "'>" + RowEtudiantString + "</tr><tr id='toAdd+" + openedStage + "' class='hide'></tr>";
                $('#DropSuperviseur' + openedStage + '-' + idEtu).formSelect();
                AddPoste(openedStage);
                hideEtudiant(idEtu);
                AdjustOtherChoiceRow(idEtu, openedStage, true);
            }
            else {
                M.toast({ html: '@lang.EtudiantDejaDansLesChoixStages', displayLength: 1500, classes: 'rounded' })
            }
        }

        function hideEtudiant(idEtudiant) {
            var row = document.getElementById('etu+' + idEtudiant).closest('tr');
            var arr = row.className.split(" ");
            if (arr.indexOf("hide") == -1) {
                row.className += " " + "hide";
            }
        }

        function showEtudiant(idEtudiant) {
            var row = document.getElementById('etu+' + idEtudiant).closest('tr');
            row.className = row.className.replace(/\bhide\b/g, "");

        }

        function showConfirmation() {
            M.toast({ html: '@lang.EnregistreSucces', displayLength: 1500, classes: 'rounded' })
        }

        function changeChevron(idStage) {
            if (document.getElementById("iconChevron+"+idStage).innerHTML == "expand_more") {
                document.getElementById("iconChevron+" + idStage).innerHTML = "expand_less"
            } else {
                document.getElementById("iconChevron+" + idStage).innerHTML = "expand_more"
            }
            if (idStage == openedStage) {
                openedStage = -1;
                var lesBoutons = document.getElementsByClassName("assignationStageVeto");
                for (var i = 0; i < lesBoutons.length; i++) {
                    var arr = lesBoutons[i].className.split(" ");
                    if (arr.indexOf("disabled") == -1) {
                        lesBoutons[i].className += " " + "disabled";
                    }
                }

            } else {
                openedStage = idStage;
                var lesBoutons = document.getElementsByClassName("assignationStageVeto");
                for (var i = 0; i < lesBoutons.length; i++) {
                    lesBoutons[i].className = lesBoutons[i].className.replace(/\b disabled\b/g, "");
                }
            }

        }

        function openModal(nomPrenom,da,programme,courriel,photo) {
            var instance = M.Modal.getInstance(document.getElementById("modal1"));
            if (courriel == "") {courriel="@lang.NoEmail"}
            document.getElementById("modalHeader").innerText = nomPrenom;
            document.getElementById("modalContent").innerHTML = "@lang.DA : " + da + "<br/> @lang.Programme : " + programme + "<br/> @lang.Courriel : " + courriel;
            if (photo != null && photo != "") {
            document.getElementById("modalContent").innerHTML += "<br/> @lang.Photo <br/>";
                $('#modalPicture').attr('src', `data:image/jpeg;base64,${photo}`);  // <----- Changer le data type pour image/{Le type de photo sauvegarder} test avec -> R0lGODlhDAAMAKIFAF5LAP/zxAAAANyuAP/gaP///wAAAAAAACH5BAEAAAUALAAAAAAMAAwAAAMlWLPcGjDKFYi9lxKBOaGcF35DhWHamZUW0K4mAbiwWtuf0uxFAgA7
            }
            instance.open();
        }

        $('#TxtSuperviseur').on('change', function () {
            $("#DropSuperviseur").val(this.value);
            alert(this.selectedIndex);
        });

        function selectedDropdownElement(id, valueToSelect, index) {
            let element = document.getElementById(id);
            element.value = valueToSelect;
            element.selectedIndex = index;
        }

        function getValueBox(idEtudiant, ischecked, stageId, VetoSender) {
            if (ischecked) {
                AddPoste(stageId);
                hideEtudiant(idEtudiant);
                AdjustOtherChoiceRow(idEtudiant, stageId,true);
            }
            else {
                RemovePoste(stageId);
                showEtudiant(idEtudiant);
                AdjustOtherChoiceRow(idEtudiant, stageId, false);
                if (document.getElementById('Veto' + idEtudiant) != null && VetoSender) { //Détruit la ligne du veto si c'est elle qui ce fait décoché
                    document.getElementById('Veto' + idEtudiant).outerHTML = "";
                }
            }
        }

        function AdjustOtherChoiceRow(idEtudiant, stageId, checked) {
            @{
                string idStageToCheck = "";
                for (int i = 0; i < lesStages2.Count; i++)
                {
                    idStageToCheck += lesStages2[i].getIDStage() + ",";
                }
                if (idStageToCheck.Length > 1)
                {
                    idStageToCheck = idStageToCheck.Substring(0, idStageToCheck.Length - 1);
                }
             }
            var IdStageArray = '@idStageToCheck'.split(',')
            for (var i = 0; i < IdStageArray.length; i++) {
                if (IdStageArray[i] != stageId || !checked) {
                    if (document.getElementById("choixEtudiant+" + idEtudiant + "+" + IdStageArray[i]) != null) {
                        if (checked) {
                            document.getElementById("choixEtudiant+" + idEtudiant + "+" + IdStageArray[i]).style.backgroundColor = "lightgrey";
                            var child = document.getElementById("choixEtudiant+" + idEtudiant + "+" + IdStageArray[i]).children;
                            var checkbox = child[5].children[0];
                            var select = child[6].children[0];
                            var arr = checkbox.className.split(" ");
                            if (arr.indexOf("hide") == -1) {
                                checkbox.className += " " + "hide";
                            }
                            arr = select.className.split(" ");
                            if (arr.indexOf("hide") == -1) {
                                select.className += " " + "hide";
                            }
                            
                        }
                        else {
                            document.getElementById("choixEtudiant+" + idEtudiant + "+" + IdStageArray[i]).style.backgroundColor = "white";
                            var child = document.getElementById("choixEtudiant+" + idEtudiant + "+" + IdStageArray[i]).children;
                            var checkbox = child[5].children[0];
                            var select = child[6].children[0];
                            checkbox.className = checkbox.className.replace(/\bhide\b/g, "");
                            select.className = select.className.replace(/\bhide\b/g, "");
                        }
                        
                    }
                }
                
            }
            
        }

        function SaveStage(stageid) {
            var isdone = false;
            var cpt = 0;
            while (!isdone) {
                if (document.getElementById('line' + stageid + '-' + cpt)) {
                    var idstageetudiant = $('#line' + stageid + '-' + cpt).val();
                    $.post('@Url.Action("SaveOneStage", "AssignationStage")', { idStageEtudiant: idstageetudiant, ChoixFinal: $('#FinalChoice' + idstageetudiant).is(':checked'), IDSuperviseur: $('#DropSuperviseur' + idstageetudiant).val() });
                    cpt++;
                }
                else {
                    isdone = true;
                }
            }

            var elem = document.getElementsByName('lineV'+stageid);
            for (var i = 0; i < elem.length; i++) {
                $.post('@Url.Action("SaveOneVeto", "AssignationStage")', { idStage: $('#idStage' + elem[i].value).val(), idEtudiant: $('#idEtudiant' + elem[i].value).val(), ChoixFinal: $('#FinalChoice' + elem[i].value).is(':checked'), IDSuperviseur: $('#DropSuperviseur' + elem[i].value).val() });
            }
        }

        function SaveAll() {
            $("input[name^='lineV']").each(function (i, e) {
                $.post('@Url.Action("SaveOneVeto", "AssignationStage")', { idStage: $('#idStage' + e.value).val(), idEtudiant: $('#idEtudiant' + e.value).val(), ChoixFinal: $('#FinalChoice' + e.value).is(':checked'), IDSuperviseur: $('#DropSuperviseur' + e.value).val() });
            });
            document.formStage.submit();
        }

        function AddPoste(stageid) {
            $('#spanPostes' + stageid).html(parseInt($('#spanPostes' + stageid).html()) + 1);
            $('#EtudiantRestant').html(parseInt($('#EtudiantRestant').html()) - 1);
        }

        function RemovePoste(stageid) {
            $('#spanPostes' + stageid).html(parseInt($('#spanPostes' + stageid).html()) - 1);
            $('#EtudiantRestant').html(parseInt($('#EtudiantRestant').html()) + 1);
        }

    </script>
}
<script type="text/javascript">

</script>

<style>
    td {
        cursor:pointer;
    }

    .ui-state-active {
        background: none;
        background-color: orange;
        color: white;
    }

    [type="checkbox"].filled-in:checked + span:not(.lever):after {
        background-color: orange;
        border: 2px solid grey;
    }

    li.active div.collapsible-header {
        background-color: #ff9800;
        color: white;
    }
</style>
