
@{
    ViewData["Title"] = ViewBag.TitrePage;
}
<br />
<div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text row">
    <div class="col l7 s12">
        <i style="font-size:36px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.AssignerLesStages
        <hr />
    </div>
    <div class="col l4 push-l1 hide-on-med-and-down">
        <i style="font-size:36px;vertical-align:middle;" class="material-icons orange-text">error</i>
        @lang.EtudiantNonAssigner
        <hr />
    </div>
</div>

<div class="row">
    <div class="col l7 s12">
        <ul class="collapsible">
            @{
                int nombrePosteOccupe = 0;
                List<AssignationStageEtudiant> lesStages = ViewBag.lesStages;
                for (int i = 0; i < lesStages.Count; i++)
                {
                    <li>
                        <div class="collapsible-header">
                            <p class="col s10">
                                <b>@lesStages[i].getTitreStage()</b>
                                <br />
                                @lesStages[i].getTitreMilieuStage()
                            </p>
                            <p class="col s2 ">@lang.Postes : @nombrePosteOccupe / @lesStages[i].getNbPostesStage()</p>
                        </div>
                        <div class="collapsible-body">
                            <form  action="" method="post">
                                <input type="hidden" name="txtIDStage" value="@lesStages[i].getIDStage()" />
                                <table id="@lesStages[i].getIDStage()" class="highlight responsive-table">
                                    <thead>
                                        <tr>
                                            <td>@lang.DetailEtudiant</td>
                                            <td>DA</td>
                                            <td>@lang.Prenom</td>
                                            <td>@lang.Nom</td>
                                            <td>@lang.NumeroChoix</td>
                                            <td>@lang.Choisir ?</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            List<ChoixEtudiant> lesChoixEtudiants = lesStages[i].LesChoixEtudiants;
                                            for (int j = 0; j < lesChoixEtudiants.Count; j++)
                                            {
                                            <tr ondblclick="/*Modal*/">
                                                <td><!--<a href="Modal">--><i class="material-icons orange-text">remove_red_eye</i><!--</a>--></td>
                                                <td>@lesChoixEtudiants[j].Etudiant.NoDA</td>
                                                <td>@lesChoixEtudiants[j].Etudiant.Prenom</td>
                                                <td>@lesChoixEtudiants[j].Etudiant.Nom</td>
                                                <td>@lesChoixEtudiants[j].NoChoix</td>
                                                <td>@Html.CheckBox("check", false, new { @class = "filled-in" })</td>
                                            </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select id="TxtSuperviseur" name="TxtSuperviseur" class="Validate" required>
                                            @{
                                                List<PersonneContact> lesSuperviseurs = ViewBag.lesPersonnesContact;
                                                for (int j = 0; j < lesSuperviseurs.Count; j++)
                                                {
                                                    <option value="@lesSuperviseurs[j].IDPersonneContact" selected="@(lesSuperviseurs[j].IDPersonneContact==lesStages[i].Superviseur.IDPersonneContact)">@lesSuperviseurs[j].Prenom @lesSuperviseurs[j].Nom</option>
                                                }
                                            }
                                        </select>
                                        @Html.Label("TxtSuperviseur", @lang.Superviseur)
                                    </div>
                                    <div class="col center-align s12">
                                        <a class="btn light-blue white-text" href="@Url.Action("SaveOneStage", "AssignationStage")">@lang.Sauvegarder<i class="material-icons right hide-on-small-and-down">add</i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                }
            }
        </ul>
    </div>

    <div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text col s12 hide-on-large-only hide-on-extra-large-only">
        <i style="font-size:48px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.StagesDisponiblesDansCeMilieu
        <hr />
    </div>
    <div class="col l4 push-l1 s12">
        <table id="liste" class="highlight responsive-table">
            <thead>
                <tr>
                    <td>@lang.DetailEtudiant</td>
                    <td>DA</td>
                    <td>@lang.Prenom</td>
                    <td>@lang.Nom</td>
                    <td>@lang.Choisir ?</td>
                </tr>
            </thead>
            <tbody id="TBodyEtudiant">
                @{
                    List<Etudiant> lesEtudiants = ViewBag.lesEtudiants;
                    for (int i = 0; i < lesEtudiants.Count; i++)
                    {
                        <tr id="@lesEtudiants[i].IDEtudiant" ondblclick="/*Modal*/">
                            <td><!--<a href="Modal">--><i class="material-icons orange-text">remove_red_eye</i><!--</a>--></td>
                            <td>@lesEtudiants[i].NoDA</td>
                            <td>@lesEtudiants[i].Prenom</td>
                            <td>@lesEtudiants[i].Nom</td>
                            <td><!--Button assign--></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col s12">
        <hr />
        <div class="row">
            <div class="col push-l1 l3 s4">
                <a class="waves-effect waves-light btn grey" href="@Url.Action("ListeMilieuStage", "MilieuStage")">@lang.Retour</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
        $('select').formSelect();

    </script>
}
