
@{
    ViewData["Title"] = ViewBag.TitrePage;
    int nombrePosteOccupe = 0;
    bool SupervisorSelected = false;
    List<AssignationStageEtudiant> lesStages = ViewBag.lesStages;
}
<br />
<div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text row">
    <div class="col l7 s12">
        <i style="font-size:36px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.AssignerLesStages
        <hr />
    </div>
    <div class="col l4 push-l1 hide-on-med-and-down">
        <i style="font-size:36px;vertical-align:middle;" class="material-icons orange-text">error</i>
        @lang.EtudiantNonAssigner
        <hr />
    </div>
</div>

<div class="row">
    <div class="col l7 s12">
        <form name="formStage" action="@Url.Action("SaveOneStage", "AssignationStage")" method="post">
            <input type="hidden" value="" name="txtIDStage" id="txtIDStage" />
            <ul class="collapsible">
                @{
                    for (int i = 0; i < lesStages.Count; i++)
                    {
                        <li>
                            <div class="collapsible-header">
                                <p class="col s10">
                                    <b>@lesStages[i].getTitreStage()</b>
                                    <br />
                                    @lesStages[i].getTitreMilieuStage()
                                </p>
                                <p class="col s2 ">@lang.Postes : <span id="@Html.Raw("spanPostes" + lesStages[i].getIDStage())">0</span> / @lesStages[i].getNbPostesStage()</p>
                            </div>
                            <div class="collapsible-body">
                                <input type="hidden" id="@Html.Raw("ListeEtudiant" + lesStages[i].getIDStage())" name="@Html.Raw("ListeEtudiant" + lesStages[i].getIDStage())" value="" />
                                <table id="@lesStages[i].getIDStage()" class="highlight responsive-table">
                                    <thead>
                                        <tr>
                                            @*<td>@lang.DetailEtudiant</td>*@
                                            <td>Détails</td>
                                            <td>DA</td>
                                            <td>@lang.Prenom</td>
                                            <td>@lang.Nom</td>
                                            <td>@lang.NumeroChoix</td>
                                            <td>@lang.Choisir ?</td>
                                            <td>@lang.Superviseur</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            List<ChoixEtudiant> lesChoixEtudiants = lesStages[i].LesChoixEtudiants;
                                            for (int j = 0; j < lesChoixEtudiants.Count; j++)
                                            {
                                                <tr ondblclick="/*Modal*/">
                                                    <td><!--<a href="Modal">--><i class="material-icons orange-text">remove_red_eye</i><!--</a>--></td>
                                                    <td>@lesChoixEtudiants[j].Etudiant.NoDA</td>
                                                    <td>@lesChoixEtudiants[j].Etudiant.Prenom</td>
                                                    <td>@lesChoixEtudiants[j].Etudiant.Nom</td>
                                                    <td>@lesChoixEtudiants[j].NoChoix</td>
                                                    <td>
                                                        <p>
                                                            <label>
                                                                @Html.CheckBox("FinalChoice", lesChoixEtudiants[j].ChoixFinal, new { @onchange = "getValueBox(" + lesStages[i].getIDStage() + ",this.checked," + lesStages[i].getIDStage() + ")" })
                                                                @{ if (lesChoixEtudiants[j].ChoixFinal)
                                                                    {
                                                                        nombrePosteOccupe++;
                                                                    }
                                                                }
                                                                <span></span>
                                                            </label>
                                                        </p>
                                                    <td>
                                                        <select id="DropSuperviseur" name="DropSuperviseur" class="Validate">
                                                            @{
                                                                List<PersonneContact> lesSuperviseur = ViewBag.lesPersonnesContact;
                                                                for (int x = 0; x < lesSuperviseur.Count; x++)
                                                                {
                                                                    if (!SupervisorSelected) //true
                                                                    {
                                                                        x = j;
                                                                        <option type="hidden" selected value="@lesSuperviseur[x].IDPersonneContact">@lesSuperviseur[x].Prenom @lesSuperviseur[x].Nom</option>
                                                                        SupervisorSelected = false;
                                                                    }
                                                                    else //false
                                                                    {
                                                                        <option value="@lesSuperviseur[x].IDPersonneContact">@lesSuperviseur[x].Prenom @lesSuperviseur[x].Nom</option>
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select id="TxtSuperviseur" name="@Html.Raw("txtSuperviseur" + lesStages[i].getIDStage())" class="Validate" required>
                                            <option value="0"></option>
                                            @{
                                                List<PersonneContact> lesSuperviseurs = ViewBag.lesPersonnesContact;
                                                for (int j = 0; j < lesSuperviseurs.Count; j++)
                                                {
                                                    <option value="@lesSuperviseurs[j].IDPersonneContact" selected="@(lesSuperviseurs[j].IDPersonneContact==lesStages[i].Superviseur.IDPersonneContact)">@lesSuperviseurs[j].Prenom @lesSuperviseurs[j].Nom</option>
                                                }
                                            }
                                        </select>
                                        @Html.Label("TxtSuperviseur", @lang.Superviseur)
                                    </div>
                                    <div class="col center-align s12">
                                        <a class="btn light-blue white-text" href="javascript:SaveStage(@lesStages[i].getIDStage())">@lang.Sauvegarder<i class="material-icons right hide-on-small-and-down">add</i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </form>
    </div>

    <div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text col s12 hide-on-large-only hide-on-extra-large-only">
        <i style="font-size:48px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.StagesDisponiblesDansCeMilieu
        <hr />
    </div>
    <div class="col l4 push-l1 s12">
        <table id="liste" class="highlight responsive-table">
            <thead>
                <tr>
                    <td>@lang.DetailEtudiant</td>
                    <td>DA</td>
                    <td>@lang.Prenom</td>
                    <td>@lang.Nom</td>
                    <td>@lang.Choisir ?</td>
                </tr>
            </thead>
            <tbody id="TBodyEtudiant">
                @{
                    List<Etudiant> lesEtudiants = ViewBag.lesEtudiants;
                    for (int i = 0; i < lesEtudiants.Count; i++)
                    {
                        <tr id="@lesEtudiants[i].IDEtudiant" ondblclick="/*Modal*/">
                            <td><!--<a href="Modal">--><i class="material-icons orange-text">remove_red_eye</i><!--</a>--></td>
                            <td>@lesEtudiants[i].NoDA</td>
                            <td>@lesEtudiants[i].Prenom</td>
                            <td>@lesEtudiants[i].Nom</td>
                            <td><!--Button assign--></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col s12">
        <hr />
        <div class="row">
            <div class="col push-l1 l3 s4">
                <a class="waves-effect waves-light btn grey" href="@Url.Action("ListeMilieuStage", "MilieuStage")">@lang.Retour</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
            @for (int i = 0; i < lesStages.Count; i++)
            {
                @Html.Raw("$('#spanPostes" + lesStages[i].getIDStage() + "').html(" + lesStages[i].LesChoixEtudiants.Where(s=>s.ChoixFinal == true).Count() + ");");
            }
            });
        $('select').formSelect();

        function getValueBox(value, ischecked, stageId) {
            if (ischecked) {
                $('#ListeEtudiant' + stageId).val($('#ListeEtudiant' + stageId).val() + value + ',');
                AddPoste(stageId);
            }
            else {
                if ($('#ListeEtudiant' + stageId).val().replace(',' + value + ',', ',') != $('#ListeEtudiant' + stageId).val()) {
                    $('#ListeEtudiant' + stageId).val($('#ListeEtudiant' + stageId).val().replace(',' + value + ',', ','));
                } else {
                    $('#ListeEtudiant' + stageId).val($('#ListeEtudiant' + stageId).val().replace(value + ',', ''));
                }
                RemovePoste(stageId);
            }
        }

        function SaveStage(stageid) {
            $('#txtIDStage').val(stageid);
            document.formStage.submit();
        }

        function AddPoste(stageid) {
            $('#spanPostes').html(parseInt($('#spanPostes').html()) + 1);
        }

        function RemovePoste(stageid) {
            $('#spanPostes').html(parseInt($('#spanPostes').html()) - 1);
        }

    </script>
}
