@using GestionStages.Controllers
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>
@{
    List<Etudiant> lesEtudiants = ViewBag.lesEtudiants;
    for (int i = 0;i<lesEtudiants.Count();i++)
    {
        @Html.Raw("<div class=\"row\">");
        @Html.Raw("<div class=\"col s2\">" + lesEtudiants[i].NoDA + "</div>");
        @Html.Raw("<div class=\"col s2\">" + lesEtudiants[i].Prenom + "</div>");
        @Html.Raw("<div class=\"col s2\">" + lesEtudiants[i].Nom + "</div>");
        @Html.Raw("<div class=\"col s2\">" + lesEtudiants[i].Email + "</div>");
        @Html.Raw("<div class=\"col s2\">" + lesEtudiants[i].Programme + "</div>");
        @Html.Raw("</div>");
    }
 }