
@{
    ViewData["Title"] = lang.ListeRestriction;
}

<div style="font-size:36px;padding-top:5%;text-align:center;"  class="light-blue-text row">
    <div class="col s12">
        <i style="font-size:48px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.ListeRestriction
    </div>
    <div class="col push-l4 l4 push-m2 m8 s12">
        <hr />
    </div>
</div>


<ul class="collapsible">
    <li class="active">
        <div class="collapsible-header row " onclick="changeChevron()"><b class="col s11">@lang.FiltreDeRecherche</b><span class="col right s1"><i id="iconChevron" style="vertical-align:middle;" class="material-icons">expand_less</i></span></div>
        <div class="collapsible-body">
            <form name="searchform" method="post" action="@Url.Action("ListeRestriction", "Restriction")">
                <div class="row">
                    <div class="col m8 s12 l8">
                        <div class="input-field col s12">
                            @Html.TextBox("txtTitre", "")
                            @Html.Label("txtTitre", @lang.Titre)
                        </div>
                        <div class="input-field col s12">
                            @Html.TextBox("txtDescr", "")
                            @Html.Label("txtDescr", @lang.Description)
                        </div>
                    </div>
                    <div class="col center-on-small-only s12 m4 push-l2 l2">
                        <label>@lang.Etat</label>
                        <div class="input-field row">
                            <p>
                                <label>
                                    @Html.CheckBox("chkIsActive", true, new { @class = "filled-in" })
                                    <span>@lang.Actif</span>
                                </label>
                            </p>
                        </div>
                        <div class="input-field row">
                            <p>
                                <label>
                                    @Html.CheckBox("chkIsInactive", true, new { @class = "filled-in" })
                                    <span>@lang.Inactif</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row right-align">
                    <a class="btn green darken-1 white-text" href="javascript:document.searchform.submit();">@lang.Rechercher<i class="material-icons right hide-on-small-and-down">search</i></a>
                </div>
            </form>
        </div>
    </li>
</ul>

<table class="highlight">
    <thead>
        <tr>
            <td><b>@lang.Titre</b></td>
            <td><b>@lang.Description</b></td>
            <td><b>@lang.Modifier</b></td>
        </tr>
    </thead>
    <tbody>
        @{
            List<Restriction> lesRestrictions = ViewBag.lesRestrictions;
            for (int i = 0; i < lesRestrictions.Count; i++)
            {
                <tr>
                    <td onclick="location.href='@Url.Action("ViewRestriction", "Restriction", new { id = lesRestrictions[i].IDRestriction })'">@lesRestrictions[i].Titre</td>
                    <td onclick="location.href='@Url.Action("ViewRestriction", "Restriction", new { id = lesRestrictions[i].IDRestriction })'">@lesRestrictions[i].Description</td>
                    <td><a href="@Url.Action("ViewRestriction", "Restriction", new { id = lesRestrictions[i].IDRestriction })"><i class="material-icons orange-text">create</i></a></td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="row" style="padding-top:5px;">
    <div class="col push-l1 l2 s2"><a class="btn grey" href="@Url.Action("ListeStage", "Stage")">@lang.Retour</a></div>
    <div class="col push-l8 l2 s2 push-s8"><a class="btn green" href="@Url.Action("ViewRestriction", "Restriction")">@lang.Ajouter<i class="material-icons right hide-on-small-and-down">add</i></a></div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
        function changeChevron() {
            if (document.getElementById('iconChevron').innerHTML == "expand_more") {
                document.getElementById('iconChevron').innerHTML = "expand_less"
            } else {
                document.getElementById('iconChevron').innerHTML = "expand_more"
            }

        }
    </script>
}

<style>

    .ui-state-active {
        background: none;
        background-color: orange;
        color: white;
    }

    [type="checkbox"].filled-in:checked + span:not(.lever):after {
        background-color: orange;
        border: 2px solid grey;
    }

    li.active div.collapsible-header {
        background-color: #ff9800;
        color: white;
    }
</style>
