
@{
    ViewData["Title"] = "ViewRestriction";
}

<h1>ViewRestriction</h1>



<form class="col s12" name="form" id="form" method="post" onsubmit="return validateForm()" action="@Url.Action("SaveMilieuStage", "MilieuStage", new { id = @MilieuAModifier.IDMilieuStage })">
    <div class="row">
        <div class="input-field col push-m3 m6 s12 ">
            <input id="TxtTitre" name="TxtTitre" type="text" class="validate" value="@Html.Raw(@MilieuAModifier.Titre)" maxlength="100" required>
            <label for="TxtTitre">@lang.Titre</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col push-m3 m6 s12 ">
            <textarea id="TxaDescription" name="TxaDescription" class="materialize-textarea validate" maxlength="1000" required>@Html.Raw(@MilieuAModifier.Description)</textarea>
            <label for="TxaDescription">@lang.Description</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col push-m3 m6 s12 ">
            <div class="switch" style="text-align:center">
                <label>
                    @lang.Inactif
                    <input id="ChkEtat" name="ChkEtat" type="checkbox" checked="@MilieuAModifier.Etat">
                    <span class="lever"></span>
                    @lang.Actif
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col push-m3 m2 s4">
            <a class="waves-effect waves-light btn grey" href="@ViewBag.LienRetour">@lang.Retour</a>
        </div>
        <div class="col push-m6 m2 push-s5 s3">
            <button onclick="validate()" class="btn waves-effect waves-light darken-1 @Html.Raw(ViewBag.CouleurBouton)" type="button" name="action">
                @Html.Raw(ViewBag.TexteBouton)
                <i class="material-icons right hide-on-small-and-down">@Html.Raw(ViewBag.IconeBouton)</i>
            </button>
        </div>
    </div>

</form>