
@{
    ViewData["Title"] = ViewBag.PageTitle;
}

<div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text row">
    <div class="col s12">
        <i style="font-size:48px;vertical-align:middle;" class="material-icons orange-text">@Html.Raw(ViewBag.IconTitle)</i>
        @ViewBag.PageTitle
    </div>
    <div class="col push-l4 l4 push-m3 m6 s12">
        <hr />
    </div>
</div>
@{
    if (ViewBag.error != null && ViewBag.error != "")
    {
        @Html.Raw(ViewBag.error);
    }
}

@{
    Stage StageAModifier = ViewBag.LeStage != null ? ViewBag.LeStage : new Stage();
    
    if (StageAModifier.IDStage == 0)
    {
        StageAModifier.Etat = true;
    }

    <form class="col s12" name="form" id="form" method="post" onsubmit="return validateForm()" action="@Url.Action("SaveStage", "Stage", new { id = StageAModifier.IDStage })">
        <div class="row">
            <div class="input-field col push-m3 m6 s12">
                <select id="TxtMilieuStage" name="TxtMilieuStage" required>
                    @{
                        List<MilieuStage> lesMilieus = ViewBag.lesMilieus;
                        for (int i = 0; i < lesMilieus.Count; i++)
                        {
                            if (StageAModifier.IDMilieuStage == @lesMilieus[i].IDMilieuStage)
                            {
                                <option type="hidden" selected value="@lesMilieus[i].IDMilieuStage">@lesMilieus[i].Titre</option>
                            }
                            else
                            {
                                <option type="hidden" value="@lesMilieus[i].IDMilieuStage">@lesMilieus[i].Titre</option>
                            }
                        }
                    }
                </select>
                @Html.Label("TxtMilieuStage", @lang.ListeMilieuStage)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-m3 m6 s12">
                @Html.TextBox("TxtTitre", @Html.Raw(StageAModifier.Titre), new { @class = "validate", maxlength = "100", required = "required" })
                @Html.Label("TxtTitre", @lang.Titre)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-m3 m6 s12">
                <textarea id="TxtaDescription" name="TxtaDescription" class="materialize-textarea validate" maxlength="1000" required>@Html.Raw(StageAModifier.Description)</textarea>
                @Html.Label("TxtaDescription", @lang.Description)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-m3 m6 s12">
                @Html.TextBox("TxtNbPostes", StageAModifier.NbPostes == 0 ? @Html.Raw("") : @Html.Raw(StageAModifier.NbPostes), new { @class = "validate", required = "required" })
                @Html.Label("TxtNbPostes", @lang.NombreDePostes)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-m3 m6 s12">
                <select id="TxtStatut" name="TxtStatut" class = "Validate" required>
                    <option value="0">@lang.TempsPleins</option>
                    <option value="1">@lang.TempsPartiel</option>
                </select>
                @Html.Label("TxtStatut", @lang.Statut)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-m3 m6 s12">
                <select id="TxtPeriodeTravail" name="TxtPeriodeTravail" class="Validate" required>
                    <option value="0">@lang.Jour</option>
                    <option value="1">@lang.Soiree</option>
                    <option value="2">@lang.Nuit</option>
                </select>
                @Html.Label("TxtPeriodeTravail", @lang.PeriodeDeTravail)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-m3 m6 s12">
                @Html.TextBox("TxtNombreDHeureParSemaine", StageAModifier.NbHeureSemaine == 0 ? @Html.Raw("") : @Html.Raw(StageAModifier.NbHeureSemaine), new { @class = "validate", required = "required" })
                @Html.Label("TxtNombreDHeureParSemaine", @lang.NombreDHeureParSemaine)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-m3 m6 s12">
                @Html.TextBox("TxtDateDeDebut", @Html.Raw(StageAModifier.DateDebut), new { @class = "validate datepicker",  placeholder = "Placeholder", required = "required" })
                @Html.Label("TxtDateDeDebut", @lang.DateDeDebut)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-m3 m6 s12">
                @Html.TextBox("TxtDateDeFin", @Html.Raw(StageAModifier.DateFin), new { @class = "validate datepicker",  placeholder = "Placeholder", required = "required" })
                @Html.Label("TxtDateDeFin", @lang.DateDeFin)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-m3 m6 s12">
                <div class="switch" style="text-align:center">
                    <label>
                        @Html.Label("ChkEtat", @lang.Inactif)
                        @Html.CheckBox("ChkEtat", StageAModifier.Etat)
                        <span class="lever"></span>
                        @Html.Label("ChkEtat", @lang.Actif)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col push-m3 m2 s4">
                <a class="waves-effect waves-light btn grey" href="@Html.Raw(ViewBag.LinkBack)">@lang.Retour</a>
            </div>
            <div class="col push-m6 m2 push-s5 s3">
                <button onclick="validate()" class="btn waves-effect waves-light darken-1 @Html.Raw(ViewBag.ColorButton)" type="submit" name="action">
                    @Html.Raw(ViewBag.TextButton)
                    <i class="material-icons right hide-on-small-and-down">@Html.Raw(ViewBag.IconButton)</i>
                </button>
            </div>
        </div>
    </form>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $('select').formSelect();
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                showClearBtn: true,
                defaultDate: new Date(),
                i18n: {
                    months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthsShort: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jun', 'Jul', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
                    weekdays: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                    weekdaysAbbrev: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
                    cancel: 'Annuler',
                    clear: 'Effacer',
                    currentText: 'Aujourd\'hui',
                    dateFormat: 'dd-mm-yy'
                }
            });
        });
    </script>
}
<script type="text/javascript">
    function validate() {
        var isValid = $("#form").validate({
            errorElement: "span",
            rules: {
                TxtMilieuStage: {
                    required: true
                },
                TxtTitre: {
                    required: true
                },
                TxtaDescription: {
                    required: true
                },
                TxtNbPostes: {
                    required: true,
                    pattern: new RegExp(/^\d+$/)
                },
                TxtNombreDHeureParSemaine: {
                    required: true,
                    pattern: new RegExp(/^\d+$/)
                },
                TxtDateDeDebut: {
                    required: true
                },
                TxtDateDeFin: {
                    required: true
                }
            },
            messages: {
                TxtMilieuStage: "@lang.ChampRequis",
                TxtTitre: "@lang.ChampRequis",
                TxtaDescription: "@lang.ChampRequis",
                TxtNbPostes: {
                    required: "@lang.ChampRequis",
                    pattern: "@lang.FormatValide Seulement des chiffres"
                },
                TxtNombreDHeureParSemaine: {
                    required: "@lang.ChampRequis",
                    pattern: "@lang.FormatValide Seulement des chiffres"
                },
                TxtDateDeDebut: "@lang.ChampRequis",
                TxtDateDeFin: "@lang.ChampRequis",
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
        if (isValid.form()) {
            M.toast({ html: '@lang.EnregistreSucces', displayLength: 500, classes: 'rounded', completeCallback: function () { document.form.submit(); } })
        }
        else {
            M.toast({ html: '@lang.ErreurPresenteFormulaire', classes: 'rounded', displayLength: 5000 });
        }
    };
</script>
<style>
    span.error {
        color: red;
        padding-right: 2px;
        padding-left: 2px;
        border: 2px red solid
    }
</style>







