
@{
    ViewData["Title"] = lang.ListeStage;
}

<h1>@lang.ListeStage</h1>


@{
    if (ViewBag.error != null && ViewBag.error != "")
    {
        @Html.Raw(ViewBag.error);
    }
}

<div id="search">
    <form name="searchform" method="post" action="@Url.Action("SearchListeStage", "Stage")">
        <table>
            <tr>
                <td>
                    <div class="input-field">
                        @Html.TextBox("txtTitre", "")
                        <label for="txtTitre">@lang.Titre</label>
                    </div>
                    <div class="input-field">
                        @Html.TextBox("txtDescr", "")
                        <label for="txtDescr">@lang.Description</label>
                    </div>
                </td>
                <td>
                    <div class="input-field">
                        @Html.TextBox("txtMilieu", "")
                        <label for="txtMilieu">@lang.MilieuDeStage</label>
                    </div>
                </td>
                <td>
                    <label>Period</label>
                    <div class="input-field row">
                        @Html.CheckBox("chkIsJour", false)
                        <span>@lang.Jour</span>
                    </div>
                    <div class="input-field row">
                        @Html.CheckBox("chkIsSoir", false)
                        <span>@lang.Soiree</span>
                    </div>
                    <div class="input-field row">
                        @Html.CheckBox("chkIsNuit", false)
                        <span>@lang.Nuit</span>
                    </div>
                </td>
                <td>
                    <div class="input-field">
                        @Html.TextBox("txtMinH", "")
                        <label for="txtMinH">@lang.NombreMinimumDHeureSemaine</label>
                    </div>
                    <div class="input-field">
                        @Html.TextBox("txtMaxH", "")
                        <label for="txtMaxH">@lang.NombreMaximumDHeureSemaine</label>
                    </div>
                </td>
                <td>
                    <div class="input-field">
                        @Html.TextBox("txtMinDate", "", new { @class = "datepicker", placeholder = "yyyy-MM-dd", type = "date" })
                        <label for="txtMinDate">@lang.DateDeDebut</label>
                    </div>
                    <div class="input-field">
                        @Html.TextBox("txtMaxDate", "", new { @class = "datepicker", placeholder = "yyyy-MM-dd", type = "date" })
                        <label for="txtMaxDate">@lang.DateDeFin</label>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><label>Etat</label></td>
                <td>
                    <div class="input-field">
                        @Html.CheckBox("chkIsActive", false)
                        <span>@lang.Actif</span>
                    </div>
                </td>
                <td>
                    <div class="input-field">
                        @Html.CheckBox("chkIsInActive", false)
                        <span>@lang.Inactif</span>
                    </div>
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="col s2 push-s11"><a class="btn" href="javascript:document.searchform.submit();">@lang.Rechercher</a></div>
        </div>
    </form>
</div>

<table id="liste" class="highlight">
    <thead>
        <tr>
            <td>@lang.Titre</td>
            <td>@lang.Description</td>
            <td>@lang.MilieuDeStage</td>
            <td>@lang.PeriodeDeTravail</td>
            <td>@lang.Statut</td>
            <td>@lang.NombreDHeureParSemaine</td>
            <td>@lang.DateDeDebut</td>
            <td>@lang.DateDeFin</td>
            <td>@lang.Voir</td>
        </tr>
    </thead>
    <tbody>
        @{
            List<Stage> lesStages = ViewBag.lesStages;
            for (int i = 0; i < lesStages.Count; i++)
            {
                <tr>
                    <td>@lesStages[i].Titre</td>
                    <td>@lesStages[i].Description</td>
                    <td>@lesStages[i].TitreMilieuStage</td>
                    <td>@lesStages[i].GetPeriode()</td>
                    <td>@lesStages[i].GetStatus()</td>
                    <td>@lesStages[i].NbHeureSemaine h</td>
                    <td>@{@lesStages[i].DateDebut.ToString("d");}</td>
                    <td>@{@lesStages[i].DateFin.ToString("d");}</td>
                    <td><a href="@Url.Action("VisionnerStage", "Stage", new { id = lesStages[i].IDStage })"><i class="material-icons orange-text">remove_red_eye</i></a></td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="row" style="padding-top:5px;">
    <div class="col s2"><a class="btn" href="@Url.Action("Index", "Home")">@lang.Retour</a></div>
    <div class="col s2 push-s3"><a class="btn" href="javascript:PrintElem('liste');">@lang.Imprimer</a></div>
    <div class="col s2 push-s7"><a class="btn" href="@Url.Action("AddSetStage", "Stage")">@lang.Ajouter</a></div>
</div>

<script>
    $(document).ready(function () {
        $('select').formSelect();
        $('.datepicker').datepicker();
    });
    function PrintElem(elem) {
        var mywindow = window.open('@Url.Action("PrintListeStage", "Stage")', 'PRINT', 'height=1000,width=1000');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();

        return true;
    }
</script>