
@{
    ViewData["Title"] = @lang.ListeStage;
}
<div style="font-size:36px;text-align:center;padding-top:5%" class="light-blue-text row">
    <div class="col s12">
        <i style="font-size:48px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.ListeStage
    </div>
    <div class="col push-l4 l4 push-m3 m6 s12">
        <hr />
    </div>
</div>

<ul class="collapsible">
    <li class="active" >
        <div class="collapsible-header row" onclick="changeChevron()"><b class="col s11">@lang.FiltreDeRecherche</b><span class="col right s1"><i id="iconChevron" style="vertical-align:middle;" class="material-icons">expand_less</i></span></div>
        <div class="collapsible-body">
            <form name="searchform" method="post" action="@Url.Action("ListeStage", "Stage")">
                <div class="row">
                    <div class="col s12 m6 l3">
                        <div class="input-field">
                            @Html.TextBox("txtTitre", "")
                            @Html.Label("txtTitre", @lang.Titre)
                        </div>
                        <div class="input-field">
                            @Html.TextBox("txtMilieu", "")
                            @Html.Label("txtMilieu", @lang.MilieuDeStage)
                        </div>
                    </div>
                    @if (!ViewBag.isStudent)
                    {
                        <div class="col s12 m6 l3">
                            <div class="input-field">
                                @Html.TextBox("txtMinH", "")
                                @Html.Label("txtMinH", @lang.NombreMinimumDHeureSemaine)
                            </div>
                            <div class="input-field">
                                @Html.TextBox("txtMaxH", "")
                                @Html.Label("txtMaxH", @lang.NombreMaximumDHeureSemaine)
                            </div>
                        </div>
                    }

                    <div class="col s12 m6 l2">
                        <div class="input-field">
                            @Html.TextBox("txtMinDate", "", new { @class = "datepicker", placeholder = "AAAA-MM-JJ" })
                            @Html.Label("txtMinDate", @lang.DateDeDebut)
                        </div>
                        <div class="input-field">
                            @Html.TextBox("txtMaxDate", "", new { @class = "datepicker", placeholder = "AAAA-MM-JJ" })
                            @Html.Label("txtMaxDate", @lang.DateDeFin)
                        </div>
                    </div>
                    <div class="col s12 m3 l2">
                        @Html.Label("periodeTravail", @lang.PeriodeDeTravail)
                        <div class="input-field row">
                            <p>
                                <label>
                                    @Html.CheckBox("chkIsJour", true, new { @class = "filled-in" })
                                    <span>@lang.Jour</span>
                                </label>
                            </p>
                        </div>
                        <div class="input-field row">
                            <p>
                                <label>
                                    @Html.CheckBox("chkIsSoir", true, new { @class = "filled-in" })
                                    <span>@lang.Soiree</span>
                                </label>
                            </p>
                        </div>
                        <div class="input-field row">
                            <p>
                                <label>
                                    @Html.CheckBox("chkIsNuit", true, new { @class = "filled-in" })
                                    <span>@lang.Nuit</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    @if (!ViewBag.isStudent)
                    {
                <div class="col s12 m3 l2">
                    @Html.Label("etat", @lang.Etat)
                    <div class="input-field row">
                        <p>
                            <label>
                                @Html.CheckBox("chkIsActive", true, new { @class = "filled-in" })
                                <span>@lang.Actif</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field row">
                        <p>
                            <label>
                                @Html.CheckBox("chkIsInactive", true, new { @class = "filled-in" })
                                <span>@lang.Inactif</span>
                            </label>
                        </p>
                    </div>
                </div>
                    }
                    <div class="hiddendiv">
                        @Html.CheckBox("isStudent", (bool)ViewBag.isStudent)
                    </div>
                    <div class="hiddendiv">
                        @Html.TextBox("ChoixCourant1", (string)ViewBag.Choix1)
                    </div>
                    <div class="hiddendiv">
                        @Html.TextBox("ChoixCourant2", (string)ViewBag.Choix2)
                    </div>
                    <div class="hiddendiv">
                        @Html.TextBox("ChoixCourant3", (string)ViewBag.Choix3)
                    </div>
                    <div class="hiddendiv">
                        @Html.TextBox("IdEtudiant", (string)ViewBag.IdEtudiant)
                    </div>
                    <div class="col s6 m6 l6">
                        <a class="btn light-blue white-text" href="@Url.Action("ListeStage", "Stage")">@lang.Reset<i class="material-icons right hide-on-small-and-down">autorenew</i></a>
                    </div>
                    <div class="col s6 m6 l6 right-align">
                        <a class="btn green darken-1 white-text" href="javascript:document.searchform.submit();">@lang.Rechercher<i class="material-icons right hide-on-small-and-down">search</i></a>
                    </div>
                </div>
            </form>
        </div>
    </li>
</ul>

<table id="liste" class="highlight responsive-table">
    <thead>
        <tr>
            <td>@lang.Titre</td>
            <td>@lang.MilieuDeStage</td>
            <td>@lang.PeriodeDeTravail</td>
            <td>@lang.Statut</td>
            @if (!ViewBag.isStudent)
            {
                <td>@lang.NombreDHeureParSemaine</td>
            }
            <td>@lang.DateDeDebut</td>
            <td>@lang.DateDeFin</td>
            <td>@lang.Voir</td>
            @if (ViewBag.isStudent)
            {
                <td>@lang.NumeroChoix</td>
            }
        </tr>
    </thead>
    <tbody>
        @{
            List<Stage> lesStages = ViewBag.lesStages;
            for (int i = 0; i < lesStages.Count; i++)
            {
                <tr ondblclick="location.href='@Url.Action("VisionnerStage", "Stage", new { id = lesStages[i].IDStage, isStudent = false })'">
                    <td>@lesStages[i].Titre</td>
                    <td>@lesStages[i].TitreMilieuStage</td>
                    <td>@lesStages[i].GetPeriode()</td>
                    <td>@lesStages[i].GetStatus()</td>
                    <td>@lesStages[i].NbHeureSemaine h</td>
                    <td>@{@lesStages[i].DateDebut.ToString("d");}</td>
                    <td>@{@lesStages[i].DateFin.ToString("d");}</td>
                    <td><a href="@Url.Action("VisionnerStage", "Stage", new { id = lesStages[i].IDStage, isStudent = false })"><i class="material-icons orange-text">remove_red_eye</i></a></td>
                    @if (ViewBag.isStudent)
                    {
                        <td>
                            <select onchange="applyChoice(this);" id="@lesStages[i].IDStage" name="choixEtudiants" class="choixPossible browser-default">
                                <option value=""></option>
                                @if (@ViewBag.Choix1 == @lesStages[i].IDStage)
                                {
                                    <option selected value="1">1</option>
                                }
                                else
                                {
                                    <option value="1">1</option>
                                }
                                @if (@ViewBag.Choix2 == @lesStages[i].IDStage)
                                {
                                    <option selected value="2">2</option>
                                }
                                else
                                {
                                    <option value="2">2</option>
                                }
                                @if (@ViewBag.Choix3 == @lesStages[i].IDStage)
                                {
                                    <option selected value="3">3</option>
                                }
                                else
                                {
                                    <option value="3">3</option>
                                }
                            </select>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>

</table>
@if (ViewBag.isStudent)
{
    <form name="ChoiceForm" method="post" action="@Url.Action("AddSetChoixStage", "Stage")">
        <div class="hiddendiv">
            @Html.CheckBox("Choix1", (string)ViewBag.Choix1)
        </div>
        <div class="hiddendiv">
            @Html.CheckBox("Choix2", (string)ViewBag.Choix2)
        </div>
        <div class="hiddendiv">
            @Html.CheckBox("Choix3", (string)ViewBag.Choix3)
        </div>
        <div class="hiddendiv">
            @Html.CheckBox("IdEtudiant", (bool)ViewBag.IdEtudiant, new { required = "required" })
        </div>
    </form>
}
<div class="row" style="padding-top:5px;">
    <div class="col push-l1 l2 s2"><a class="btn grey" href="@Url.Action("ListeStage", "Stage")">@lang.Retour</a></div>
    @if (!ViewBag.isStudent)
    {
        <div class="col s2 push-s3"><a class="btn blue" href="javascript:PrintElem('liste');">@lang.Imprimer<i class="material-icons right hide-on-small-and-down">print</i></a></div>
        <div class="col push-l6 l2 s2 push-s6"><a class="btn green" href="@Url.Action("AddSetStage", "Stage")">@lang.Ajouter<i class="material-icons right hide-on-small-and-down">add</i></a></div>
    }
    else
    {
        <div class="col s2 push-s8"><a class="btn green" href="javascript: askConfirm();">@lang.Choisir<i class="material-icons right hide-on-small-and-down">check</i></a></div>
    }

</div>
<div id="dialog-confirm" class="hiddendiv" title="@lang.ConfirmerLaSelection">
    @lang.VeuillezConfirmerLaSelection
</div>
<div id="dialog-error" class="hiddendiv" title="@lang.Erreur">
    @lang.Erreur! @lang.NombreDeStagesSelectionnesInsufisant .
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#search").accordion({
                collapsible: true
            });
            $('.collapsible').collapsible();
            $('select').formSelect();

            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                defaultDate: new Date(),
                showClearBtn: true,
                defaultDate: new Date(),
                i18n: {
                    months: ['@lang.Janvier' , '@lang.Fevrier', '@lang.Mars','@lang.Avril', '@lang.Mai', '@lang.Juin', '@lang.Juillet', '@lang.Aout', '@lang.Septembre', '@lang.Octobre', '@lang.Novembre', '@lang.Decembre'],
                    monthsShort: ['@lang.JanvierShort', '@lang.FevrierShort', '@lang.MarsShort', '@lang.AvrilShort', '@lang.MaiShort', '@lang.JuinShort', '@lang.JuilletShort', '@lang.AoutShort', '@lang.SeptembreShort', '@lang.OctobreShort', '@lang.NovembreShort', '@lang.DecembreShort'],
                    weekdays: ['@lang.Dimanche', '@lang.Lundi', '@lang.Mardi', '@lang.Mercredi', '@lang.Jeudi', '@lang.Vendredi', '@lang.Samedi'],
                    weekdaysShort: ['@lang.DimancheShort', '@lang.LundiShort', '@lang.MardiShort', '@lang.MercrediShort', '@lang.JeudiShort', '@lang.VendrediShort', '@lang.SamediShort'],
                    weekdaysAbbrev: ['@lang.DimancheAbbrev', '@lang.LundiAbbrev', '@lang.MardiAbbrev', '@lang.MercrediAbbrev', '@lang.JeudiAbbrev', '@lang.VendrediAbbrev', '@lang.SamediAbbrev'],
                    cancel: '@lang.Annuler',
                    clear: '@lang.Effacer',
                    dateFormat: 'dd-mm-yy'
                }
            });
        });

        function changeChevron() {
            if (document.getElementById('iconChevron').innerHTML == "expand_more") {
                document.getElementById('iconChevron').innerHTML = "expand_less"
            } else {
                document.getElementById('iconChevron').innerHTML = "expand_more"
            }
            
        }

        function applyChoice(sel) {
             //enlever les autre select avec la même valeur
            for (var i = 1; i < 4; i++) {
                if (document.getElementById('Choix' + i).value == sel.id || document.getElementById('Choix' + i).value == 0) {
                    document.getElementById('Choix' + i).value = ""; //Vide les autre choix avec cet id ou les choix vide si un sumbit a été fait sans être completé
                }
            }
            if (sel.value != "") {
                if (document.getElementById('Choix' + sel.value).value != "") {//Vide le select avec le même numéro de choix
                    document.getElementById(document.getElementById('Choix' + sel.value).value).value = "";
                }
                document.getElementById('Choix' + sel.value).value = sel.id;//Ajoute l'id au choix demandé
            }
            applyChoiceTemp(sel);
        }

        function applyChoiceTemp(sel) {
            //enlever les autre select avec la même valeur
            for (var i = 1; i < 4; i++) {
                if (document.getElementById('ChoixCourant' + i).value == sel.id || document.getElementById('ChoixCourant' + i).value == 0) {
                    document.getElementById('ChoixCourant' + i).value = ""; //Vide les autre choix avec cet id ou les choix vide si un sumbit a été fait sans être completé
                }
            }
            if (sel.value != "") {
                if (document.getElementById('ChoixCourant' + sel.value).value != "") {//Vide le select avec le même numéro de choix
                    document.getElementById(document.getElementById('ChoixCourant' + sel.value).value).value = "";
                }
                    document.getElementById('ChoixCourant' + sel.value).value = sel.id;//Ajoute l'id au choix demandé
            }
        }

        function PrintElem(elem) {
            var mywindow = window.open('@Url.Action("PrintListeStage", "Stage")', 'PRINT', 'height=1000,width=1000');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();

            return true;
            }

        function askConfirm() {
            if (validateEnoughtChoice()) {
                showConfirmDialog();
            }
            else {
                showErrorDialog();
            }
        }
        function showConfirmDialog() {
            document.getElementById("dialog-confirm").classList.remove('hiddendiv');
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        @lang.Oui: function() {
                            document.ChoiceForm.submit();
                            $(this).dialog("close");
                        },
                        @lang.Non: function () {
                            document.getElementById("dialog-confirm").classList.add('hiddendiv');
                            $(this).dialog("close");
                        }
                    }
                });
        }
        function showErrorDialog() {
            document.getElementById("dialog-error").classList.remove('hiddendiv');
            $("#dialog-error").dialog({
                    resizable: false,
                    height: "auto",
                    width: 300,
                    modal: true,
                    buttons: {
                        "Ok": function () {
                            document.getElementById("dialog-error").classList.add('hiddendiv');
                            $(this).dialog("close");
                        }
                    }
                });
        }

            function validateEnoughtChoice() {
                var valid = true
                 @{
                     int NumberOfRequiredChoices ;
                     switch (lesStages.Count)
                     {
                         case 0:
                             NumberOfRequiredChoices = 0;
                             break;
                         case 1:
                             NumberOfRequiredChoices = 1;
                             break;
                         case 2:
                             NumberOfRequiredChoices = 2;
                             break;
                         default:
                             NumberOfRequiredChoices = 3;
                             break;
                     }
                             }
                if (@NumberOfRequiredChoices != 0) {
                    for (var i = 1; i < @NumberOfRequiredChoices + 1; i++) {
                        if (document.getElementById('Choix' + i).value == null || document.getElementById('Choix' + i).value == 0 || document.getElementById('Choix' + i).value == "") {
                            valid = false;
                        }
                    }
                }
                else {
                    valid = false;
                }
                return valid
            }


    </script>
}
<style>
    .ui-state-active {
        background: none;
        background-color: orange;
        color: white;
    }

    [type="checkbox"].filled-in:checked + span:not(.lever):after {
        background-color: orange;
        border: 2px solid grey;
    }

    li.active div.collapsible-header {
        background-color: #ff9800;
        color: white;
    }
</style>
