
@{
    ViewData["Title"] = ViewBag.PageTitle;
}

<div style="font-size:36px;text-align:center;padding-top:5%" class="light-blue-text row">
    <div class="col s12">
        <i style="font-size:48px;vertical-align:middle;" class="material-icons orange-text">@Html.Raw(ViewBag.IconTitle)</i>
        @ViewBag.PageTitle
    </div>
    <div class="col push-l4 l4 push-m3 m6 s12">
        <hr />
    </div>
</div>

@{
    if (ViewBag.error != null && ViewBag.error != "")
    {
        @Html.Raw(ViewBag.error);
    }
}

@{
    Stage VisionnerStage = ViewBag.LeStage;
    <div class="row">
        @{
                        List<Restriction> lesRestrictions = ViewBag.LesRestrictions;
                        if (lesRestrictions.Count > 0)
                        {
                <div class="col push-m3 m6 s12">
                    <div class="col s12 center">
                        @Html.Label("AcordionRestriction", @lang.ListeRestriction)
                    </div>
                    <div class="col s12">
                        <ul id="AcordionRestriction" class="collapsible input-field col s12">
                            @{
                                for (int i = 0; i < lesRestrictions.Count; i++)
                                {
                                    <li>
                                        <div class="collapsible-header">@lesRestrictions[i].Titre</div>
                                        <div class="collapsible-body"><span>@lesRestrictions[i].Description</span></div>
                                    </li>
                                }
            }
                        </ul>
                    </div>
                </div>
            }
        }
    </div>
    <form class="col s4">
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtIDMilieuStage", @Html.Raw(@VisionnerStage.TitreMilieuStage), new { disabled = "disabled" })
                @Html.Label("TxtIDMilieuStage", @lang.MilieuDeStage)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtTitre", @Html.Raw(@VisionnerStage.Titre), new { disabled = "disabled" })
                @Html.Label("TxtTitre", @lang.Titre)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                <textarea id="TxtaDescription" name="TxtaDescription" class="materialize-textarea" disabled >@Html.Raw(@VisionnerStage.Description)</textarea>
                @Html.Label("TxtDescription", @lang.Description)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtNombreDePostes", @Html.Raw(@VisionnerStage.NbPostes), new { disabled = "disabled" })
                @Html.Label("TxtNombreDePostes", @lang.NombreDePostes)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtStatut", @Html.Raw(@VisionnerStage.GetStatus()), new { disabled = "disabled"})
                @Html.Label("TxtStatut", @lang.Statut)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtPeriodeDeTravail", @Html.Raw(@VisionnerStage.GetPeriode()), new { disabled = "disabled" })
                @Html.Label("TxtPeriodeDeTravail", @lang.PeriodeDeTravail)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtNombreDHeureParSemaine", @Html.Raw(@VisionnerStage.NbHeureSemaine), new { disabled = "disabled" })
                @Html.Label("TxtNombreDHeureParSemaine", @lang.NombreDHeureParSemaine)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtDateDeDebut", @Html.Raw(@VisionnerStage.DateDebut.ToShortDateString()), new { disabled = "disabled" })
                @Html.Label("TxtDateDeDebut", @lang.DateDeDebut)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtDateDeFin", @Html.Raw(@VisionnerStage.DateFin.ToShortDateString()), new { disabled = "disabled" })
                @Html.Label("TxtDateDeFin", @lang.DateDeFin)
            </div>
        </div>
        @if (!ViewBag.isStudent)
        {
            <div class="row">
                <div class="input-field col push-s3 s6 ">
                    <div class="switch" style="text-align:center">
                        <label>
                            @lang.Inactif
                            <input disabled id="ChkEtat" name="ChkEtat" type="checkbox" checked="@VisionnerStage.Etat">
                            <span class="lever"></span>
                            @lang.Actif
                        </label>
                    </div>
                </div>
            </div>
        }

        <div class="col s12">
            <div class="row">
                <div class="col push-s2 s2">
                    <a class="waves-effect waves-light btn @ViewBag.ColorButtonBack" href="@Url.Action("ListeStage", "Stage")">@lang.Retour</a>
                </div>
                @if (!ViewBag.isStudent)
                {
                    <div class="col push-s3 s2">
                        <a class="waves-effect waves-light btn @ViewBag.ColorButtonCopy" href="@Url.Action("AddSetStage", "Stage",new { idStage = @VisionnerStage.IDStage , Duplicate = true })"><i class="material-icons right">@ViewBag.IconButtonCopy</i>@lang.CreerUneCopie</a>
                    </div>
                    <div class="col push-s5 s2">
                        <a class="waves-effect waves-light btn @ViewBag.ColorButtonModify" href="@Url.Action("AddSetStage", "Stage",new { idStage = @VisionnerStage.IDStage })"><i class="material-icons right">@ViewBag.IconButton</i>@lang.Modifier</a>
                    </div>
                }

            </div>
        </div>
    </form>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });

    </script>
}


