
@{
    ViewData["Title"] = ViewBag.PageTitle;
}

<div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text row">
    <div class="col s12">
        <i style="font-size:48px;vertical-align:middle;" class="material-icons orange-text">@Html.Raw(ViewBag.IconTitle)</i>
        @ViewBag.PageTitle
    </div>
    <div class="col push-s4 s4">
        <hr />
    </div>
</div>

@{
    if (ViewBag.error != null && ViewBag.error != "")
    {
        @Html.Raw(ViewBag.error);
    }
}

@{
    Stage VisionnerStage = ViewBag.LeStage;
    <form class="col s4">
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtIDMilieuStage", @Html.Raw(@VisionnerStage.TitreMilieuStage), new { @class = "validate", disabled = "disabled", placeholder = "Placeholder" })
                @Html.Label("TxtIDMilieuStage", @lang.MilieuDeStage)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtTitre", @Html.Raw(@VisionnerStage.Titre), new { @class = "validate", disabled = "disabled", placeholder = "Placeholder" })
                @Html.Label("TxtTitre", @lang.Titre)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtDescription", @Html.Raw(@VisionnerStage.Description), new { @class = "validate", disabled = "disabled", placeholder = "Placeholder" })
                @Html.Label("TxtDescription", @lang.Description)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtNombreDePostes", @Html.Raw(@VisionnerStage.NbPostes), new { @class = "validate", disabled = "disabled", placeholder = "Placeholder" })
                @Html.Label("TxtNombreDePostes", @lang.NombreDePostes)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtStatut", @Html.Raw(@VisionnerStage.GetStatus()), new { @class = "validate", disabled = "disabled", placeholder = "Placeholder" })
                @Html.Label("TxtStatut", @lang.Statut)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtPeriodeDeTravail", @Html.Raw(@VisionnerStage.GetPeriode()), new { @class = "validate", disabled = "disabled", placeholder = "Placeholder" })
                @Html.Label("TxtPeriodeDeTravail", @lang.PeriodeDeTravail)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtNombreDHeureParSemaine", @Html.Raw(@VisionnerStage.NbHeureSemaine), new { @class = "validate", disabled = "disabled", placeholder = "Placeholder" })
                @Html.Label("TxtNombreDHeureParSemaine", @lang.NombreDHeureParSemaine)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtDateDeDebut", @Html.Raw(@VisionnerStage.DateDebut), new { @class = "validate", disabled = "disabled", placeholder = "Placeholder" })
                @Html.Label("TxtDateDeDebut", @lang.DateDeDebut)
            </div>
        </div>
        <div class="row">
            <div class="input-field col push-s3 s6 ">
                @Html.TextBox("TxtDateDeFin", @Html.Raw(@VisionnerStage.DateFin), new { @class = "validate", disabled = "disabled", placeholder = "Placeholder" })
                @Html.Label("TxtDateDeFin", @lang.DateDeFin)
            </div>
        </div>
        <div class="row">
            @Html.Label("AcordionRestriction", "Listes des restrictions")
            <ul id="AcordionRestriction" class="collapsible input-field col push-s3 s6">
                @{
                    List<Restriction> lesRestrictions = ViewBag.LesRestrictions;
                    for (int i = 0; i < lesRestrictions.Count; i++)
                    {
                        <li>
                            <div class="collapsible-header">@lesRestrictions[i].Titre</div>
                            <div class="collapsible-body"><span>@lesRestrictions[i].Description</span></div>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col push-s2 s2">
                    <a class="waves-effect waves-light btn @ViewBag.ColorButtonBack" href="@Url.Action("ListeStage", "Stage")">@lang.Retour</a>
                </div>
                @if (!ViewBag.isStudent)
                {
                    <div class="col push-s3 s2">
                        <a class="waves-effect waves-light btn @ViewBag.ColorButtonCopy" href="@Url.Action("AddSetStage", "Stage",new { idStage = @VisionnerStage.IDStage , Duplicate = true })"><i class="material-icons right">@ViewBag.IconButtonCopy</i>@lang.CreerUneCopie</a>
                    </div>
                    <div class="col push-s5 s2">
                        <a class="waves-effect waves-light btn @ViewBag.ColorButtonModify" href="@Url.Action("AddSetStage", "Stage",new { idStage = @VisionnerStage.IDStage })"><i class="material-icons right">@ViewBag.IconButton</i>@lang.Modifier</a>
                    </div>
                }

            </div>
        </div>
    </form>
}

@section Scripts {
    <script>
        //$(document).ready(function () {
        //    $("#Restriction").accordion({
        //        collapsible: true
        //    });
        //});
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });

    </script>
}


