
@{
    ViewData["Title"] = lang.ListeMilieuStage;
}

<div style="font-size:36px;padding-top:5%" class="light-blue-text  row">
    <div class="col s12">
        <i style="font-size:48px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.ListeMilieuStage
    </div>
    <div class="col xl5 l7 m8 s12">
        <hr />
    </div>
</div>

<div id="search" class="row">
    <h1>@lang.FiltreDeRecherche</h1>
    <form name="searchform" method="post" action="@Url.Action("SearchListeMilieuStage", "MilieuStage")"> 
            <div class="input-field col  m6 s12">
                @Html.TextBox("txtTitre", "")
                <label for="Title">@lang.Titre</label>
            </div>

            <div class="input-field col  m6 s12">
                @Html.TextBox("txtAdresse", "")
                <label for="Address">@lang.Adresse</label>
            </div>
            <div class="row">
                <div class="col xl3 push-xl9 l4 push-l8 m5 push-m7 s4 push-s8 right-align"><a class="btn light-blue" href="javascript:document.searchform.submit();">@lang.Rechercher<i class="material-icons right hide-on-small-and-down">search</i></a></div>
            </div>
    </form>
</div>

<table class="highlight">
    <thead>
        <tr>
            <td>@lang.Titre</td>
            <td>@lang.Adresse</td>
            <td>@lang.Telephone</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @{
            List<MilieuStage> lesMilieus = ViewBag.lesMilieus;
            for (int i = 0; i < lesMilieus.Count; i++)
            {
                <tr ondblclick="location.href='@Url.Action("VisionnerMilieuStage", "MilieuStage", new { id = lesMilieus[i].IDMilieuStage })'">
                    <td>@lesMilieus[i].Titre</td>
                    <td>@lesMilieus[i].NoCivique @lesMilieus[i].Rue, @lesMilieus[i].Ville &nbsp; @lesMilieus[i].Province, @lesMilieus[i].Pays </td>
                    <td>@lesMilieus[i].NoTelephone</td>
                    <td><a href="@Url.Action("VisionnerMilieuStage", "MilieuStage", new { id = lesMilieus[i].IDMilieuStage })"><i class="material-icons orange-text">remove_red_eye</i></a></td>
                </tr>
            }
        }
    </tbody>
</table>


<div class="row" style="padding-top:5px;">
    <div class="col push-l1 l2 s2"><a class="btn grey" href="@Url.Action("Index", "Home")">@lang.Retour</a></div>
    <div class="col push-l7 l2 s3 push-s7"><a class="btn green" href="@Url.Action("AjouterModifierMilieuStage", "MilieuStage")">@lang.Ajouter<i class="material-icons right hide-on-small-and-down">add</i></a></div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#search").accordion({
                collapsible: true
            });
        });
    </script>
}