
@{
    ViewData["Title"] = ViewBag.TitrePage;
}
<br />
<div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text row">
    <div class="col l5 s12">
        <i style="font-size:36px;vertical-align:middle;" class="material-icons orange-text">@Html.Raw(ViewBag.IconeTitre)</i>
        @ViewBag.TitrePage
        <hr />
    </div>
    <div class="col l7 hide-on-med-and-down">
        <i style="font-size:36px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
        @lang.StagesDisponiblesDansCeMilieu
        <hr />
    </div>
</div>

@{
    if (ViewBag.error != null && ViewBag.error != "")
    {
        @Html.Raw(ViewBag.error);
    }
}

@{
    MilieuStage MilieuEnVisionnement = ViewBag.Milieu;
    <div class="row">

        <form class="col l5 s12">
            @{
                List<Restriction> lesRestrictions = ViewBag.LesRestrictions;
                if (lesRestrictions.Count > 0)
                {
                    <div class="row">
                        <div class="col s12">
                            <div class="col s12 center">
                                @Html.Label("AcordionRestriction", @lang.ListeRestriction)
                            </div>
                            <div class="col s12">
                                <ul id="AcordionRestriction" class="collapsible input-field col s12">
                                    @{
                                        for (int i = 0; i < lesRestrictions.Count; i++)
                                        {
                                            <li>
                                                <div class="collapsible-header">@lesRestrictions[i].Titre</div>
                                                <div class="collapsible-body"><span>@lesRestrictions[i].Description</span></div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="row">
                <div class="input-field col s12 ">
                    @Html.TextBox("TxtTitre", @Html.Raw(@MilieuEnVisionnement.Titre), new { disabled = "disabled" })
                    @Html.Label("TxtTitre", @lang.Titre)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 ">
                    @Html.TextArea("TxaDescription", @MilieuEnVisionnement.Description, new { @class = "materialize-textarea", disabled = "disabled" })
                    @Html.Label("TxaDescription", @lang.Description)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 ">
                    @Html.TextBox("TxtNoCivique", @Html.Raw(@MilieuEnVisionnement.NoCivique), new { disabled = "disabled" })
                    @Html.Label("TxtNoCivique", @lang.NumeroCivique)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 ">
                    @Html.TextBox("TxtRue", @Html.Raw(@MilieuEnVisionnement.Rue), new { disabled = "disabled" })
                    @Html.Label("TxtRue", @lang.Rue)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 ">
                    @Html.TextBox("TxtCodePostal", @Html.Raw(@MilieuEnVisionnement.CodePostal), new { disabled = "disabled" })
                    @Html.Label("TxtCodePostal", @lang.CodePostal)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 ">
                    @Html.TextBox("TxtVille", @Html.Raw(@MilieuEnVisionnement.Ville), new { disabled = "disabled" })
                    @Html.Label("TxtVille", @lang.Ville)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 ">
                    @Html.TextBox("TxtProvince", @Html.Raw(@MilieuEnVisionnement.Province), new { disabled = "disabled" })
                    @Html.Label("TxtProvince", @lang.Province)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 ">
                    @Html.TextBox("TxtPays", @Html.Raw(@MilieuEnVisionnement.Pays), new { disabled = "disabled" })
                    @Html.Label("TxtPays", @lang.Pays)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 ">
                    @Html.TextBox("TxtNumeroTelephone", @Html.Raw(@MilieuEnVisionnement.NoTelephone), new { disabled = "disabled" })
                    @Html.Label("TxtNumeroTelephone", @lang.NumeroDeTelephone)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 ">
                    <div class="switch" style="text-align:center">
                        <label>
                            @lang.Inactif
                            <input disabled id="ChkEtat" name="ChkEtat" type="checkbox" checked="@MilieuEnVisionnement.Etat">
                            <span class="lever"></span>
                            @lang.Actif
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <div style="font-size:24px;text-align:center;padding-top:5%" class="light-blue-text col s12 hide-on-large-only hide-on-extra-large-only">
            <i style="font-size:48px;vertical-align:middle;" class="material-icons orange-text">dehaze</i>
            @lang.StagesDisponiblesDansCeMilieu
            <hr />
        </div>
        <div class="col l7 s12">
            <table id="liste" class="highlight responsive-table">
                <thead>
                    <tr>
                        <td><b>@lang.Titre</b></td>
                        <td><b>@lang.PeriodeDeTravail</b></td>
                        <td><b>@lang.Statut</b></td>
                        <td><b>@lang.NombreDHeureParSemaine</b></td>
                        <td><b>@lang.DateDeDebut</b></td>
                        <td><b>@lang.DateDeFin</b></td>
                        <td><b>@lang.Voir</b></td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<Stage> lesStages = ViewBag.lesStages;
                        for (int i = 0; i < lesStages.Count; i++)
                        {
                            <tr onclick="location.href='@Url.Action("VisionnerStage", "Stage", new { id = lesStages[i].IDStage })'">
                                <td>@lesStages[i].Titre</td>
                                <td>@lesStages[i].GetPeriode()</td>
                                <td>@lesStages[i].GetStatus()</td>
                                <td>@lesStages[i].NbHeureSemaine h</td>
                                <td>@{@lesStages[i].DateDebut.ToString("d");}</td>
                                <td>@{@lesStages[i].DateFin.ToString("d");}</td>
                                <td><a href="@Url.Action("VisionnerStage", "Stage", new { id = lesStages[i].IDStage })"><i class="material-icons orange-text">remove_red_eye</i></a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="col s12">
            <hr />
            <div class="row">
                <div class="col push-l1 l3 s4">
                    <a class="waves-effect waves-light btn grey" href="@Url.Action("ListeMilieuStage", "MilieuStage")">@lang.Retour</a>
                </div>
                <div class="col push-l3 l3 s4">
                    <a class="waves-effect waves-light btn blue" href="@Url.Action("AjouterModifierMilieuStage", "MilieuStage",new { id = @MilieuEnVisionnement.IDMilieuStage , CreationCopie = true })"><i class="material-icons right hide-on-small-and-down">content_copy</i>@lang.CreerUneCopie</a>
                </div>
                <div class="col push-l5 l3 s4">
                    <a class="waves-effect waves-light btn orange" href="@Url.Action("AjouterModifierMilieuStage", "MilieuStage",new { id = @MilieuEnVisionnement.IDMilieuStage })"><i class="material-icons right hide-on-small-and-down">create</i>@lang.Modifier</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });

    </script>
}
